
/*main_left部分*/
.mr10 {
    margin-right: 10px;
}
ul, ol {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}
.panel-default {
    border-color: #ddd !important;
}
.panel-group .panel {
    border-radius: 4px !important;
    margin-bottom: 0 !important;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd !important;
}

.panel-heading {
    background-color: #0080cc !important;
    color: #fff!important;border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.main_left_submenu{border-bottom: 1px solid #e9e9e9;padding:8px 0;}
.panel-body {padding: 0 10px !important;  }
.panel-title a{display: block;width: 100%;height: 100%;color: #fff;}
.main_left_submenu a{color: #333;}
.panel-title a:hover,.main_left_submenu a:hover{text-decoration: none;}

/*main_right部分*/

/*---------pro_weihu.html宝贝维护页---------*/
.right-content{padding:10px 20px;}
.page-header h4{margin-bottom: 8px;font-weight: 400;}
.fl{float:left}
.fr{float:right}
.clear{clear:both;height: 0;}
.margin-right10{margin-right: 10px;}
.mr30{margin-right: 30px;}
.mr5{margin-right: 5px;}
.ml5{margin-left: 5px;}
.mt15{margin-top: 15px;}
.mt5{margin-top: 5px;}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color !important;
    border-image: none;
    border-style: solid none none !important;
    border-width: 1px 0 0 !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: "microsoft yahei";
}
.btn-success {
    background-color: #5bb75b;
    border: medium none !important;
    color: #fff;
}
.input {
    width: 50px;
    text-align: center;

}

.main_right{min-height: 500px;margin-top: 80px;background-color: #fff;padding:10px 20px;}
.page-header{margin-top: 0 !important;padding-bottom: 0 !important;}
label{font-weight: 100 !important;}
.shopping-table{text-align: center;}
.shopping-table th{background-color: #ddd;text-align: center;}
.page-input{width: 35px;height: 25px;}

/*添加宝贝页add_pro.html*/
.upload_img{float: left;}
.upload_img img{width:120px;height: 90px;display: inline-block;margin-right: 5px;border:1px solid #e9e9e9;padding:3px;margin-bottom: 5px; }

/*----------团队维护页group_weihu.html------------*/
.group_table{margin-top: 15px;}
.group_table td {text-align: center;}
.group_table_tit{background-color: #ddd;}
/*遮罩层begin*/
#pop_bg{  display: none;  opacity: 0.6; position: fixed;  left: 0; top: 0;  overflow: hidden; border: 0px; z-index: 2000;  height: 100%; width: 100%;  background: rgb(0, 0, 0);  }
#pop_div{display: none; position: fixed; z-index: 2000;background-color:#fff;width:350px;height: 220px;top: 50%; margin-top: -110px;left: 50%;margin-left: -175px;}
.pro_preview{width: 1000px!important;height: 600px!important;overflow-y:scroll;margin-left: -500px!important;margin-top:-300px !important;}
.pro_describe{text-indent: 28px;}
.pop_div_close{ position: absolute;top:7px;left: 1rem;text-decoration: none;color:#fff;}
.pop_div_close:hover{color:#2CBFC4;  }
.pop_title{background-color:#0080cc;font-size: 16px;font-weight: bold;height: 30px;line-height: 30px;padding-left: 15px;color: #fff;  }
.pop_body{height: auto;padding:1rem;}
.no_remind{color: #808080;}
.mt20{margin-top: 20px;}
.pop_bottom{position: absolute;bottom: 0;width: 100%;}
.pop_bottom_table{width:98%;text-align: center;margin:0 auto;}
.pop_bottom_table td{border-top: 1px solid #b2b2b2;padding:10px;}
.pro_img_list li{margin-bottom: 5px;}
.pro_img_list li img{display: block;width: 610px;height: 380px;margin:0 auto;}
/*遮罩层end*/


/*---------------order_detail.html订单详情页------------------*/
.order_info{padding-bottom: 20px;box-shadow: 0 0 2px #ddd;}
.order_detail_list{background-color: #fff;margin-top: 1rem;padding-bottom: 45px;}
.order_detail_list ul li{border-bottom: 1px solid #ddd;padding: 0.5rem 0;}
.order_detail_list ul li:last-child{border-bottom: none;}
.order_note{border:1px solid #e9e9e9;color: #5e5e5e;padding:0.5rem;}
.order_detail_list ul li.order_note_list{border-bottom: none;}
.order_note_title{margin-top: 10px;font-size: 1.5rem;color: #21262c;margin-bottom: 0;}
.order_note_number{  display:inline-block;width: 16px;height: 16px;font-weight:400;text-align: center;line-height: 16px;color: #fff;border-radius: 100%;background-color: #9f9ab6;}
.img-responsive {  display: block;  height: auto;  max-width: 100%;  }
.goods_img {  display: block;  float: left;
    width: 40%;
}


/*pro_add.html*/
.upload_img {position: relative;}
.image_operate{display:none;background:url("../../images/staffCommunication/image_operate_bg.png") repeat-x ;width: 50px;height: 20px;position: absolute;top: 5px;right: 9px;}
.del_image{position: absolute;background: url("../../images/staffCommunication/delete_icon.png");width: 11px;height: 15px;top:2px;right:2px;z-index: 500;}
.edit_image{position: absolute;background: url("../../images/staffCommunication/edit_icon.png");width: 11px;height: 15px; top:2px;right:27px;z-index: 500;}
#pop_bg_file{  display: none;  opacity: 0.6; position: fixed;  left: 0; top: 0;  overflow: hidden; border: 0px; z-index: 2000;  height: 100%; width: 100%;  background: rgb(0, 0, 0);  }
#pop_div_file{display: none; position: fixed; z-index: 2000;background-color:#fff;width:350px;height: 220px;top: 50%; margin-top: -110px;left: 50%;margin-left: -175px;}


/*浦悦会 9.11号*/
.integral_main{border: 1px solid #c2c1c6;}
.integral_title{padding:0.5rem 1rem;border-bottom:1px solid #c2c1c6;background: #f4f4f4;  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#efeff1));  background: -moz-linear-gradient(top,  #fdfdfd,  #efeff1);  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efeff1');  }
.integral_con{padding:1rem;}
.integral_table td{text-align: center;}
.integral_table thead th{background-color: #eee !important;}
.integral_table th:first-child, .integral_table td:first-child{border-left: none;}
.red_color{color: #f00;}
.new_act_uploadimg{width: 100px;height: 100px;}
.mr40{margin-right: 40px;}
.comment_list{border-top: 1px solid #e9e9e9;padding:5px 0;}
.gray_color{color: #ccc;}


/*9.17浦发租房*/
.two_font{display: inline-block;width: 28px;}
.rent_img{width: 110px;height: 90px;display: block;margin:0 auto;}
.rent_vertical td{vertical-align: middle;}

/*菜单 加二级菜单10.13*/
.first_menu{position: relative;}
.sub_menu{display: none;position: absolute;}
.sub_menu a{background-color: #ccc;width: 120px;display: block;border-bottom: 1px solid #fff;text-align:center;padding:10px !important;}
.sub_menu a:hover{background-color: #ddd;}


