@charset "utf-8";
/* CSS Document */
.mwtsheader{
	background-color:#0084cf;
	font-size:12px;
	padding:5%;
	color:#ffffff;}
.yjtittle{
	color:#91be05;}
.lxfstittle{
	color:#91be05;
	margin-top:5%;
	margin-bottom:5%;}
.lxfsinput{
	width:90%;
	border-radius:7px!important;
	border:#eeeeee solid 2px!important;
	height:22px!important;
	padding:2%!important;
	margin-bottom:2%!important;
	margin-top:3%!important;
	color:#666666!important;}
.yjinput{
	width:90%;
	border-radius:5px;
	border:#eeeeee solid 2px;
	height:120px;
	padding:0% 2%;
	color:#666666;}
.yjinputc{
	margin-top:3%;
	margin-bottom:3%;}
.mwtsfooter{
	background:#f6f6f6;
	color:#999999;}
.mwtsfooter p{
	margin:3% 0%;}
.mwtsmain{ 
	background:#f6f6f6;
	font-size:12px;}
.mwtsmsg{
	color:#999999;
	text-align:center;
	margin:5% 0% 10% 0%;}
.mwtsbtn{
	width:90%;
	background-color:#91be05;
	color:white;
	padding:3% 0%;
	border-radius:20px;
	margin-top:8%;
	font-size:15px;} 
.mwtsmsg p{
	margin-top:1%;}
.wrapper_top{position:absolute; display:none; background:rgba(0,0,0,.5); top:0; height:100%; left:0; right:0;}
.lightbox{width:70%;margin-top:50%; padding:5%; margin-left:15%; background-color:#FFF; border-radius:7px;}
.a2{
	font-size:3vw;padding:5%;color:#000000;}
.a3{
	margin-bottom:5%; padding-left:5%;}
.a8{
	color:white;
	font-size:3vw;}
.a9{
	float:center;margin-top:5%;border-radius:5px; padding:4% 0%; width:48%; background-color:#9cc813;}
.a10{
	color:#333333; font-size:4vw !important; font-weight:bolder;}
.y3{
    margin-bottom: 5%;
    color: #0085d0;
    font-size: 12px;
	}
.y7{
	color:#0085d0;display:block;
	text-decoration:none;}