@charset "utf-8";
body {
    color: #3c3c3c;
    font: 10px / 150 % "Microsoft YaHei",
    tahoma,
    arial,
    Helvetica,
    "宋体",
    sans - serif;
    margin: 0;
    max - height: 100 % ;
    padding: 0;
    width: 100 % ;
    background: #fff
}
html {
    font - size: 10px
}@media screen and(min - width: 321px) and(max - width: 400px) {
    html {
        font - size: 10px
    }
    body {
        font: 10px / 150 % "Microsoft YaHei",
        tahoma,
        arial,
        Helvetica,
        "宋体",
        sans - serif
    }
}@media screen and(min - width: 401px) and(max - width: 500px) {
    html {
        font - size: 11px
    }
    body {
        font: 11px / 150 % "Microsoft YaHei",
        tahoma,
        arial,
        Helvetica,
        "宋体",
        sans - serif
    }
}@media screen and(min - width: 501px) and(max - width: 800px) {
    html {
        font - size: 9pt
    }
    body {
        font: 9pt / 150 % "Microsoft YaHei",
        tahoma,
        arial,
        Helvetica,
        "宋体",
        sans - serif
    }
}@media screen and(min - width: 801px) {
    html {
        font - size: 14px
    }
    body {
        font: 14px / 150 % "Microsoft YaHei",
        tahoma,
        arial,
        Helvetica,
        "宋体",
        sans - serif
    }
}.yahei {
    font - family: Microsoft YaHei
}.main {
    max - width: 64pc
}.main,
img {
    margin: 0 auto
}
img {
    vertical - align: middle; - ms - interpolation - mode: bicubic;
    width: 100 % ;
    display: inline - block;
    border: none
}
a,
a: hover,
a: link,
a: visited {
    color: #505050;
    text - decoration: none;
    outline: 0
}.cen {
    margin: 0 auto
}.p_name {
    overflow: hidden;
    text - overflow: ellipsis;
    white - space: nowrap
}
ol,
ul {
    list - style: none outside none
}.tb {
    text - decoration: underline
}.fl {
    float: left
}.fr {
    float: right
}.cb {
    clear: both
}
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
    margin: 0;
    padding: 0
}.tr {
    text - align: right
}.tl {
    text - align: left
}.tc {
    text - align: center
}.td {
    text - decoration: underline
}.pr {
    position: relative
}
a,
button,
div,
e,
i,
img,
input,
span { - webkit - tap - highlight - color: transparent
}.gray {
    color: #4e4e4e
}.red {
    color: #ff5000
}#fxtitle {
    width: 100 % ;
    height: 100 % ;
    background - color: rgba(0, 0, 0, .9);
    position: fixed;
    z - index: 100;
    display: none;
    top: 0;
    left: 0
}#fxtitle img.yd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100 % ;
    height: auto;
    z - index: 200
}#detail.detailbox.smbox input,
select {
    border - radius: 4px;
    border: 1px solid#d8d8d8; - webkit - appearance: none
}#detail.box {
    width: 92 % ;
    box - shadow: 0 0 4px#727272;
    margin: 0 auto;
    padding: 2rem 3 % ;
    margin - top: 1rem;
    border - radius: 6px
}#detail.box p.title {
    line - height: 3rem;
    color: #ff5000;
    font - size: 1.6rem;
    margin - top: 1rem
}#detail.box.name span {
    display: inline - block;
    padding: .5rem 1rem;
    min - width: 4rem;
    width: auto;
    font - size: 1.4rem;
    text - align: center;
    line - height: 1.8rem;
    border: 1px solid#cecece;
    border - radius: 4px;
    margin - right: .5rem;
    margin - top: .5rem
}#detail.box.name span.current {
    border: 1px solid#ba5e2f
}#detail.box.money {
    margin - top: 2rem;
    font - size: 1.4rem
}#detail.box.sm {
    margin - top: 1rem;
    font - size: 1.4rem;
    line - height: 2rem
}#detail.detailbox {
    width: 92 % ;
    box - shadow: 0 0 4px#727272;
    margin: 0 auto;
    padding: 1rem 3 % ;
    margin - top: 1rem;
    border - radius: 6px
}#detail.detailbox.smbox {
    overflow: hidden
}#detail.detailbox.smbox li {
    margin: .5rem 0;
    font - size: 1.4rem;
    overflow: hidden
}#detail.detailbox.smbox label {
    width: 20 % ;
    float: left
}#detail.detailbox.smbox input {
    height: 2.5rem;
    line - height: 2.5rem;
    width: 73 % ;
    margin - left: 2 % ;
    float: left;
    font - size: 1.4rem
}.dzbox {
    width: 73 % ;
    margin - left: 2 % ;
    float: left;
    overflow: hidden
}#detail.detailbox.smbox label,
.dzbox.select {
    height: 2.5rem;
    display: inline - block;
    line - height: 2.5rem
}.dzbox.select {
    width: 32 % ;
    margin - right: 2 %
}.dzbox.select: last - child {
    margin - right: 0
}.agree {
    height: 4rem;
    border: 1px solid#c1c1c1;
    line - height: 4rem;
    font - size: 1.4rem;
    color: #343434;
    padding: 0 5 % ;
    margin - top: 1rem
}.agbtn {
    vertical - align: middle
}.xxsm {
    font - size: 1.4rem;
    line - height: 2rem;
    margin - top: 1rem
}#detail.bottom {
    width: 92 % ;
    margin: 0 auto;
    margin - top: 1rem
}#detail.bottom img {
    width: 100 % ;
    display: block;
    height: auto
}#detail.bottom.btn {
    display: block;
    width: 100 % ;
    height: 4rem;
    line - height: 4rem;
    font - size: 1.8rem;
    color: #fff;
    letter - spacing: 3px;
    text - indent: 3px;
    background - color: #ff5000;
    border - radius: 4px;
    margin: 1rem 0
}#detail.bottom.sm {
    font - size: 1.4rem;
    line - height: 2rem
}.show img {
    display: block
}.show,
.show img {
    width: 100 % ;
    height: auto
}.show {
    display: none
}.cjmain {
    overflow: hidden;
    height: auto;
    position: relative
}.cjmain.bannerone {
    width: 100 % ;
    height: auto;
    display: block
}.cjmain.indexbtn {
    width: 50 % ;
    height: auto;
    position: absolute;
    top: 77 % ;
    left: 25 %
}.cjmain.box {
    width: 60 % ;
    position: absolute;
    top: 48 % ;
    left: 20 % ;
    display: none
}.cjmain.box.title {
    color: #fdc66c;
    line - height: 2rem;
    font - size: 1.2rem;
    border - bottom: 1px solid#fdc66c
}.cjmain.box.select {
    padding: 0 10 % ;
    color: #fff
}.cjmain.box.select li {
    line - height: 3rem;
    overflow: hidden
}.cjmain.box.select li label {
    width: 100 % ;
    height: 3rem;
    display: block
}.cjmain.box: first - child {
    display: block
}.cjmain.answer {
    width: 60 % ;
    position: absolute;
    top: 48 % ;
    left: 20 % ;
    color: #fdc66c;
    line - height: 2rem;
    text - align: center;
    display: none
}.cjmain.answer.first {
    font - size: 1.4rem
}.cjmain.answer.second {
    font - size: 1.5rem
}.gtbody {
    background - color: #7d15b0
}.gtmain#gua {
    position: absolute;
    top: 5px;
    left: 15px;
    overflow: hidden;
    width: 210px;
    height: 95px
}.gtmain.box {
    background: url(https://img.alicdn.com/imgextra/i2/2452042613/TB2mzHWpXXXXXXfXpXXXXXXXXXX_!!2452042613.png) no-repeat;background-size:100% auto;width:15pc;height:105px;position:relative;margin:10px auto}.gtmain .sthpho{width:220px;height:auto;margin:10px auto;display:block}.gtmain .rule{padding-bottom:40px}.gtmain .rule p.title{background-color:#650199;color:#fff;font-size:1.5rem;height:5rem;line-height:5rem;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;width:40%;margin:10px auto;margin-bottom:20px}.gtmain .rule p{width:90%;margin:0 auto;font-size:1.4rem;line-height:2rem}.gtmain .rule p.yellow{color:#fff148;padding-left:38px}.showbox{z-index:99;width:80%;height:auto;overflow:hidden;position:fixed;top:2rem;left:10%;background-color:#fdcf07;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px}.showbox .showpho{width:60%;height:auto;margin:2rem auto;display:block}.showbox p{padding:0 1rem;padding-bottom:1rem;color:#fff;font-size:1.4rem;font-weight:700;line-height:1.8rem}.showbox .btnbox{height:6.5rem;background-color:#fcff98;overflow:hidden}.showbox .btnbox a{width:60%;height:4rem;color:#c46200;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;font-size:2rem;line-height:4rem;margin:1rem auto;border-bottom:.3rem solid #feb117;box-shadow:0 2px 2px #670898;display:block;background-color:#fcd814}#front{position:absolute}.rollbody{background:url(../imgs/yd_bg.png) repeat-Y top center;background-size:100% auto;position:relative;height:100%}.rollsel .top img{width:80%;margin:0 auto;display:block;height:auto}.middle{position:relative}.go-box{width:11rem;height:7rem;padding:1rem;z-index:30;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);background:url(../imgs/yd_btn.png) no-repeat center center;background-size:100% 100%}.go-box .times{position:absolute;bottom:0;width:100%;color:#28773a;left:0}.ulbox{margin:0 auto}.ulbox ul{text-align:center;margin-top:.5rem}.ulbox ul li.pro{border:1px solid #6f0010;border-radius:.5rem}.ulbox ul li.kong,.ulbox ul li.pro{display:inline-block;width:4.9rem;height:4.8rem;overflow:hidden;vertical-align:middle;position:relative}.ulbox ul li.kong{border:1px solid #ad0019}.ulbox ul li img{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);display:block}.ulbox ul li .prz-txt{text-align:center;background:rgba(0,0,0,.2);width:100%;height:1.4rem;line-height:1.4rem;color:#fff;font-size:1.1rem;position:absolute;bottom:0;left:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.ulbox ul li.pro{background:#f1f8f9}.ulbox ul li.active{background:#ffde42}.bottomlast img{width:100%;margin:2rem auto;display:block}.bottomlast{background-color:#8c0014;padding-bottom:4rem}.who ul li{display:-webkit-box;display:box;-webkit-box-align:center;border-radius:40px;padding:4px 10px 4px 4px;-webkit-box-sizing:border-box;background-color:rgba(0,0,0,.65);margin-bottom:60px;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;width:80%;margin:0 auto}.who ul li img{border-radius:50%;width:30px;height:30px;margin-right:1rem}.who ul li p{display:block;font-size:14px;-webkit-box-flex:1;color:#fff}.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@-webkit-keyframes fadeOutUp{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@-webkit-keyframes fadeOut{0%{opacity:1}to{opacity:0}}.zj{display:none}.hyh{width:80%;margin:0 auto;height:20rem}.hyh .mcz{font-size:1.8rem;color:#fff;margin-top:8rem}.hyh .btn-go{font-weight:700;margin:3rem auto;font-size:2rem;color:#bf0000;width:80%;display:block;border-radius:.5rem;background-color:#eaff00;height:3.5rem;line-height:3.5rem}.hbbg .showbox{max-width:600px;width:100%;height:auto;position:absolute;top:20%;left:50%;background:url(../imgs/gd_hbshadow.png) no-repeat center top;z-index:100;background-size:100% auto;-webkit-transform:translateX(-50%)}.hbbg .showbox .top p{color:#fff}.hbbg .showbox .top p.title{font-size:2rem;line-height:3rem}.hbbg .showbox .top p.sm{font-size:1.6rem;line-height:2rem}.hbbg .showbox .top{padding-top:1rem;width:80%;margin:0 auto;border-radius:80% 80% 0 0;background-color:#bd2e0b;position:relative}.hbbg .showbox .top .money{width:70%;height:auto;overflow:hidden;background:url(../imgs/gd_hbmoney.png) no-repeat center top;position:relative;margin:0 auto;margin-top:1rem}.hbbg .showbox .top .money .scj{font-size:4rem;color:#ea2202;position:absolute;top:30%;left:0;width:100%}.showbox .top .money .scj .num{font-size:3.8rem}.showbox .top .bottom{width:100%;height:auto;position:absolute;bottom:0;left:0;z-index:99}.showbox .fottor{height:auto;background-color:#ea2202;width:80%;margin:0 auto;color:#fff;border-radius:0 0 .5rem .5rem;padding-bottom:2rem}.showbox .fottor p{line-height:3.5rem;text-align:center;font-size:1.4rem}.showbox .fottor p.lqbtn{color:#eaa301;font-size:1.8rem;text-decoration:underline}.container{background-color:#da2929;overflow:hidden;padding-bottom:3rem}.roll-top-title{width:62%;height:auto;display:block;margin:1.5rem auto}.roll-top-titlenum{width:46%;height:3rem;background:#fff;border-radius:1.5rem;margin:0 auto;text-align:center;line-height:3rem;color:#d92014;font-size:1.7rem;margin-top:-.5rem}.roll-up-box{padding-bottom:3rem;height:auto;width:100%;background:url(//img.alicdn.com/imgextra/i4/2452042613/TB2GYYTpXXXXXaUXpXXXXXXXXXX_!!2452042613.jpg) no-repeat top center;background-size:100% 100%;overflow:hidden}h2.title{color:#fff;font-size:1.8rem;margin-top:4rem;margin-bottom:3rem;letter-spacing:1px;text-indent:1px}.rollbox{width:100%;height:auto;overflow:hidden;position:relative;margin:0 auto;margin-top:-1.5rem}.rollbox .rollpan{display:block;width:100%;height:auto}.rollbox .four{width:36%;top:32%;left:32%}.roll-btn,.rollbox .four{display:block;height:auto;position:absolute}.roll-btn{right:5%;top:5%;width:22%}.itemperson{overflow:hidden;height:18rem}.roll-list-title{width:10rem;height:auto;display:block}.itemperson-box{margin:0 auto;margin-top:2.5rem;width:90%;overflow:hidden}.itemperson li{height:3rem;padding:0 10%;background:#efefef}.itemperson li.current{background:#fff}.itemperson li:first-child{margin-top:-3rem}.itemperson li i{height:2.5rem;display:block;width:2.5rem;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;overflow:hidden;margin:.25rem 0}.itemperson li i img{width:100%;height:auto;display:block}.itemperson li p{line-height:3rem;color:#292929;font-size:1.1rem;margin-left:1rem}.rule{width:90%;margin:0 auto;margin-top:0;color:#fff;font-size:1.4rem;line-height:2.5rem;overflow:hidden}.rule .sm{background:#e15454;padding:1rem 4%}.sth-pho{margin-top:2rem}.sth-pho .sth-title{font-size:1.7rem;color:#fff;text-align:center;line-height:3rem}.hbbg{background-color:rgba(0,0,0,.8);position:fixed;width:100%;height:100%;top:0;left:0;z-index:99;display:none}.hbbg .showbox,.hbbg .showbox-two{max-width:600px;width:100%;height:auto;position:absolute;top:45%;left:50%;background:url(../imgs/gd_hbshadow.png) no-repeat center top;z-index:100;background-size:100% auto;-webkit-transform:translate(-50%,-50%)}
    