.appmsg{position:relative;overflow:hidden;margin-bottom:20px;border:1px solid #d3d3d3;background-color:#fff;box-shadow:0 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.appmsg_info{font-size:13px;line-height:20px;padding-bottom:6px}
.appmsg_date{font-weight:400;font-style:normal}
.appmsg_content{padding:0 14px;border-bottom:1px solid #d3d3d3;position:relative;*zoom:1}
.appmsg_title{font-weight:400;font-style:normal;font-size:16px;padding-top:6px;line-height:28px;max-height:56px;overflow:hidden;word-wrap:break-word;word-break:break-all}
.appmsg_title a{display:block;color:#222}
.appmsg_thumb_wrp{height:160px;overflow:hidden}
.appmsg_thumb{width:100%}
.appmsg_desc{padding:5px 0 10px}
.appmsg_opr{background-color:#f4f4f4}
.appmsg_opr ul{overflow:hidden;*zoom:1}
.appmsg_opr_item{float:left;line-height:44px;height:44px}
.appmsg_opr_item a{display:block;border-right:1px solid #d3d3d3;box-shadow:1px 0 0 0 #fff;-moz-box-shadow:1px 0 0 0 #fff;-webkit-box-shadow:1px 0 0 0 #fff;text-align:center;line-height:20px;margin-top:12px}
.appmsg_opr_item a.no_extra{border-right-width:0}
.appmsg_item{*zoom:1;position:relative;padding:12px 14px;border-top:1px solid #d3d3d3}
.appmsg_item:after{content:"\200B";display:block;height:0;clear:both}
.appmsg_item .appmsg_title{line-height:24px;max-height:48px;overflow:hidden;*zoom:1;margin-top:14px}
.appmsg_item .appmsg_thumb{float:right;width:78px;height:78px;margin-left:14px}
.multi .appmsg_info{padding-top:4px;padding-left:14px;padding-right:14px}
.multi .appmsg_content{padding:0}
.multi .appmsg_title{font-size:14px;padding-top:0}
.cover_appmsg_item{position:relative;margin:0 14px 14px}
.cover_appmsg_item .appmsg_title{position:absolute;bottom:0;left:0;width:100%;background:rgba(0,0,0,0.6)!important;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000')}
.cover_appmsg_item .appmsg_title a{padding:0 4px;color:#fff}
.appmsg_mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity = 60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;z-index:1}
.appmsg .icon_appmsg_selected{display:none;position:absolute;top:50%;left:50%;margin-top:-30px;margin-left:-33px;line-height:999em;overflow:hidden;z-index:1}
.dialog_wrp .appmsg:hover{cursor:pointer}
.appmsg:hover .appmsg_mask{display:block}
.appmsg.selected .appmsg_mask{display:block}
.appmsg.selected .icon_appmsg_selected{display:inline-block}
.icon_appmsg_selected{background:transparent url(../../../../images/icon/media/icon_appmsg_selected.png) no-repeat 0 0;width:75px;height:60px;vertical-align:middle;display:inline-block}
.appmsg_thumb.default{display:block;color:#c0c0c0;text-align:center;line-height:160px;font-weight:400;font-style:normal;background-color:#ececec;font-size:22px}
.appmsg_item .appmsg_thumb.default{line-height:78px;font-size:16px}
.appmsg_edit_mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(229,229,229,0.85)!important;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9e5e5e5',endcolorstr = '#d9e5e5e5');text-align:center}
.appmsg_item .appmsg_edit_mask{line-height:102px}
.cover_appmsg_item .appmsg_edit_mask{line-height:160px}
.appmsg_edit_mask a{margin-left:8px;margin-right:8px}
.editing .cover_appmsg_item:hover .appmsg_edit_mask,.editing .appmsg_item:hover .appmsg_edit_mask{display:block}.editing .appmsg_thumb{display:none}
.editing .appmsg_thumb.default{display:block}
.editing .has_thumb .appmsg_thumb{display:block}
.editing .has_thumb .appmsg_thumb.default{display:none}
.editing .appmsg_content{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-bottom-width:0}.editing.multi .appmsg_content{border-bottom-width:1px}
.appmsg_add{text-align:center;padding:12px 14px;line-height:72px}
.appmsg_add a{display:block;font-size:0;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:3px dotted #b8b8b8;height:72px}
.appmsg_add a i{*vertical-align:baseline}
.tab_content .appmsg{width:320px}
.appmsg_list{text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;font-size:0;padding-top:38px;margin:0 46px;letter-spacing:-4px}
.appmsg_list:after{display:inline-block;content:".";width:100%;height:0;font-size:0;overflow:hidden}
.appmsg_col{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:48%;font-size:14px;text-align:left;font-size:14px;letter-spacing:normal}
.media_dialog.appmsg_list{position:relative;padding:28px 140px;height:340px;margin-bottom:0;overflow-y:scroll}.page_appmsg_edit .tool_area{clear:both;margin:0;padding:20px 0}
.page_appmsg_edit .tool_bar{margin-left:0;margin-right:0}
.page_appmsg_edit .appmsg{min-height:180px}
.page_appmsg_edit .upload_file_box{top:22px;left:-12px;width:377px;border-color:#d3d3d3;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
.page_appmsg_edit .upload_preview img{max-width:100px;max-height:100px}
.media_preview_area{float:left;width:320px;margin-right:14px}
.media_edit_area{display:table-cell;float:none;width:auto;*display:block;*zoom:1}
.media_edit_area:after{content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden;clear:both;height:0!important;display:block;line-height:0}
.edui_editor_wrp{position:relative;z-index:0}
.appmsg_edit_item{padding-bottom:1em}