.appmsg_editor{position:relative;padding-left:12px}
.appmsg_editor .inner{padding:20px;border:1px solid #d3d3d3;background-color:#f8f8f8;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:inset 0 1px 1px 0 #fff;-moz-box-shadow:inset 0 1px 1px 0 #fff;-webkit-box-shadow:inset 0 1px 1px 0 #fff;min-height:350px}
.appmsg_editor .arrow{position:absolute}
.appmsg_editor .arrow_out{display:inline-block;width:0;height:0;border-width:12px;border-style:dashed;border-color:transparent;border-left-width:0;border-right-color:#d3d3d3;border-right-style:solid;top:44px;left:0}
.appmsg_editor .arrow_in{display:inline-block;width:0;height:0;border-width:12px;border-style:dashed;border-color:transparent;border-left-width:0;border-right-color:#f8f8f8;border-right-style:solid;top:44px;left:1px}
.appmsg_edit_item .frm_label{display:block;width:auto;float:none;*zoom:1;margin-right:0;margin-bottom:4px}
.appmsg_edit_item .frm_label:after{content:"\200B";display:block;height:0;clear:both}
.appmsg_edit_item .frm_input_box{display:block;width:auto;height:auto;margin-top:10px;min-height:30px;border-color:#d3d3d3}
.appmsg_edit_item .frm_textarea_box{display:block;width:auto;border-color:#d3d3d3}
.appmsg_edit_item .title{font-weight:400;font-style:normal;float:left}
.appmsg_edit_item .tips{color:#a3a3a3}
.appmsg_edit_item .tips em{font-weight:400;font-style:normal}
.appmsg_edit_item.content_edit .close{display:none;position:absolute;right:20px;top:12px}
.appmsg_edit_item.content_edit .tool_bar{display:none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-top-width:0;margin:0;padding-bottom:28px}
.appmsg_edit_item.content_edit .zoomin_edit_tips,.appmsg_edit_item.content_edit .zoomout_edit_tips{position:absolute;top:4px;right:5px;font-size:12px}
.appmsg_edit_item.content_edit .zoomin_edit_tips{display:none}
.appmsg_edit_item.content_edit.zoom_edit{position:fixed;top:50%;left:50%;background-color:#f3f3f3;width:726px;padding:30px 20px 10px;z-index:203}
.appmsg_edit_item.content_edit.zoom_edit .frm_label{padding:5px 0}
.appmsg_edit_item.content_edit.zoom_edit .zoom_edit_tips{margin-right:8px}
.appmsg_edit_item.content_edit.zoom_edit .close{display:inline-block}
.appmsg_edit_item.content_edit.zoom_edit .tool_bar{display:block}
.appmsg_edit_item.content_edit.zoom_edit .zoomout_edit_tips{display:none}
.appmsg_edit_item.content_edit.zoom_edit .zoomin_edit_tips{display:inline-block;margin-right:8px}
.appmsg_edit_item .upload_area{margin-top:0px;*margin-top:0}
#inputObj {
	display: inline-block;
	width: 300px;
	margin-top: 0;
}