@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑",Tahoma, Geneva, sans-serif;font-size:100%;}

/*header*/
.bg-colud{background: url(../img/bg_2.png) no-repeat; background-size:cover; height:185px; text-align:center;}


.bg-star{ background:url(../../images/bg_1.png) no-repeat; background-size:cover; height:185px; text-align:center;}
/*main*/
.center-m12{margin:30px auto; width:94%;}
.wx-name,.wx-phone{background:url(../img/icon-wx.png) no-repeat 0 2px; padding-left:30px; font-size:18px; margin:30px auto;}
.wx-name span,.wx-phone span{font-size:14px;}
.wx-phone{background:url(../img/icon-phone.png) no-repeat 0 2px;}

.input-text1{background:#F8F6F7; border:solid 1px #BDDDCB; height:30px; line-height:30px; padding:0 4px;}



.btn-blue,.btn-green{background:#32ADFB; color:#fff; text-align:center; border-radius:3px; border:none; padding:0 2px;}
.btn-green{background:#90C320;}
.text-c{text-align:center;}

/*footer*/
.bg-colud-footer{background:url(../img/bg-foot.jpg) no-repeat; height:70px; background-size:cover; padding-top:40px; text-align:center; width:100%; }
/*话费追踪*/
.bg-colud-star{background:url(../img/bg-foot2.jpg) no-repeat; height:70px; background-size:cover; padding-top:40px; text-align:center; width:100%; color:#fff;}

.date-list{clear:both; overflow:hidden;zoom:1; }


.date-list a {
    background: url("../img/bg-date-list.png") no-repeat scroll 0 0 / 99% 93% rgba(0, 0, 0, 0);
    display: block;
    padding:5% 0;
    margin: 14px 0;
    text-align: center;
    width: 46%;
}
@media screen and (max-width:320px){
  .w30p{width:30%; }

}
.color-block{text-align:center; vertical-align:middle;}
.color-block a{display:block; color:#fff;}
.h130{height:130px; line-height:130px}

.tit-green{background:#90C320; color:#fff; border-radius:4px; padding:20px 0; font-size:18px; margin-bottom:20px;}
.hf-table{border-radius:20px;}
.hf-table td,.hf-table th{padding:10px 15px; border:solid 1px #E6E6E6;}
.hf-table tbody tr.even{background:#EFF3F4;}
.hf-table th{background-image:-moz-linear-gradient(top,#FEFEFE,#EFEFEF)}


.a-block1 a{display:inline-block; width:15.4%; text-align:center; padding:5px 0;}
.a-block1 a.on{background:url(../img/on-bg1.png) center 5px no-repeat;}

.line-bg{ border-top:2px solid #dddddd; overflow:hidden;background:#F6F6F6;}
.y8{
	 background:url(../img/bg-line.png) repeat-x #fff; border-top:none; overflow:hidden; padding-top:10px; margin-bottom:10%;
	}
.bg-arrow tbody tr{background:#F6F6F6 url(../img/arrow.png) 5px center no-repeat;}
.bg-arrow tbody td,.bg-arrow thead th{padding:8px 20px;}

.th-bg-hui th{background:#F6F6F6; border-top:solid 1px #F0F0EE;}
.min-h360{min-height:360px;}

.bg-hui-f6 tbody tr{background:#f6f6f6!important; border-bottom:solid 1px #EBEBEB;}
.bg-hui-f6 tbody td,.bg-hui-f6 thead th{padding:8px 10px;}

.bg-odd-hui dl{background:#fff; border-bottom:solid 1px #E3E3E3; padding:10px; line-height:24px;  clear:both; overflow:hidden;}
.bg-odd-hui dt{color:#484848; font-weight:bold;}
.bg-odd-hui dd{color:#9A9A9A; float:left; margin-right:20px;}
.bg-odd-hui dl.bg-hui-f3,.bg-hui-f3{background:#F3F3F3;}

.bg-per1{position:absolute; background:-moz-linear-gradient(top,#DFDDDE,#BCBCBC); border:solid 1px #CACACA; width:80%; height:20px; border-radius:20px; }
.bg-per2{position:absolute; background:-moz-linear-gradient(top,#1C83CC,#155DB2); border:solid 1px #CACACA; width:20%; height:20px; border-radius:20px;}
.bg-per3{background: url('../img/bg-per.png') no-repeat scroll center 21px; height: 30px; left: 18%;  padding-bottom: 30px; position: absolute; top: -32px; width: 60px; text-align:center; color:#0C89D9; font-weight:bold;}

.bg-triangle{position:absolute; bottom:-2px; left:20%;}
.per-main{position:relative; padding:0 0 10px 0; border-bottom:solid 1px #E5E5E5; }
.box-shadow-b1{box-shadow:0 1px 0 0 #E0E0E0; margin-bottom:1px;}
.per-bg1{position:relative;width:100%; height:50px; }
.prv{position:relative}



/*新加css如下置底*/
.ten{
	height:2px;
	background-color:#dddddd;
	line-height:2px;
	clear:both;
	display:block;
	overflow:hidden;
	}
.u3{
	height:1px;
	background-color:#dddddd;
	line-height:1px;
	clear:both;
	display:block;
	overflow:hidden;
	}
.r{
	width:95%;
	margin-left:5%;}
	*{
		overflow-x:hidden;}
.one{
	margin:auto;
	background-color:#f6f6f6;
	padding:3% 5%;}
    
.e1{
	width:90%;
	background-color:#9cc813;
	float:left;
	color:white;padding:3% 0%;
	border-radius:20px;
	margin-top:3%;
	margin-bottom:5%;
	font-size:3vw;
	margin-left:5%;
	} 
.t4{
	width:90%;
	float:left;
	color:white;padding:3% 0%;
	border-radius:20px;
	margin-top:3%;
	margin-bottom:5%;
	font-size:3vw;
	margin-left:5%;
	}
.t5{
	border:1px  solid #9cc813;
	margin-bottom:0% !important;}
.t6{
	border:1px  solid #a0a19c;}
.two{
	font-size:9px; color:#333333;}/*小字*/
.three{
	color:#b7d56d;}
.three1{
	color:#0085d0;}
.four{
	font-size:3vw; color:#666666; padding-top:2%;}
.five{
	color:#999999; padding:5% 0%; }
.six{
	margin:2% auto; color:#666666; font-size:3vw; margin-left:5%; }

.eight{
	font-size:5vw; color:#333333;font-weight:bolder;}
.nine{
	color:#e40077;}
.nine1{
	color:#0085d0;}
.nine2{
	color:#9cc813;}
.cool{
	background-color:#f6f6f6;}

.zi{
	float:right; width:11%;
	
	}
.eleven{
	width:57.6%;background-color:#e40077;}
.eleven1{
	width:66.4%;background-color:#0085d0;}
.eleven2{
	width:72%;background-color:#9cc813;}
.eleven3{
	width:62.4%;background-color:#9cc813;}
.juli{
	margin-top:35px;}
	.juli1{
	margin-top:20px;}
.zidx{
	font-size:3vw;}
.yangs{
	overflow:hidden; width:90%; margin:auto;}
.per-main1{position:relative; padding:0 0 10px 0; }
.box-shado
w-b11{ margin-bottom:1px;}

.first{
	margin:auto;
	margin-top:5%;
	background: url(../img/pic_1.png);
	background-size:100% 100%;
	height:50px;}

.second{
	position:absolute;
	margin-top:10px;

	color:#666666;
	}
	.e2{
		margin:auto;
		font-size:14vw;
		color:#9cc813;
		}
	.e3{
		margin:auto;
		font-size:3vw;
		margin-bottom:3%;
		color:#999999;}
		
		
.t3{
	width:100%;
	overflow:hidden;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;}	
.o1{
	width:95%;
	margin-left:5%;
	overflow:hidden;}	
		
.o2{
	width:100%;
	padding:2% 0;
	border-bottom:1px solid #dddddd;}
.o3{
	width:95%;
	overflow:hidden;
	border-bottom:1px solid #dddddd;
	}
.o33{
	border-bottom:1px solid transparent !important;}
.teli2{
	width:95%;
	overflow:hidden;
	}
.o4{
	width:50%;
	color:#9cc813;
	padding:2% 0;
	}
.o7{
	width:100%;
	
	
	padding:2% 0;
	}
	.o77{
	width:50%;
	padding:2% 0;
	}
.o5{
	width:100%;
	overflow:hidden;}
.o6{
	width:50%;
	float:left;
	
	text-align:right;}
.teli3{
	text-align:left !important;}
/*实时话费查询*/		
.y1{
	width:50%;
	float:left;
	font-size:4vw;
	color:#000;
	padding:1% 0%;
	margin-top:5%;}
	.y2{
	width:40%;
	margin-left:5%;
	float:left;
	font-size:4vw;
	color:#000;
	padding:1% 0%;
	margin-top:5%;}
	.y4{
	width:50%;
	float:left;
	font-size:5vw;
	color:#000;
	color:#9cc813;
	}
	.y6{
	width:40%;
	margin-left:5%;
	float:left;
	font-size:5vw;
	color:#000;
	color:#9cc813;
	}
	.y7{
		color:#0085d0;}
	.y5{
		border-right: 2px solid #cccccc;}
.clear1{
	clear:both;}
.y3{
	
	margin-bottom:5%;
	color:#0085d0;
	font-size:4vw;
	}
.y{
	margin-top:10%;}
/*<!--已订购业务-->*/
p{
	margin-top:5%;}
.leibie {
	width: 100%;
	height: auto;
	
	text-align: center;
	background-color:white;
}
.tab {
	background: white;
	position: relative;
	width: 50%;
	height: auto;
	float: left;
	padding-top: 2%;
	padding-bottom: 2%;
	
}
.selTab {
	border-bottom: 2px solid #2693ff;
	height: auto;
}
.tabfont{
	font-size:15px ;/*<!--套餐-->*/
	text-align: center;
	font-weight: bolder;
	color: #333333;
}
.seltabfont{
	font-size:15px ;/*<!--套餐-->*/
	text-align: center;
	font-weight: bolder;
	color: #2693ff;
}
.o8{
	font-weight: bolder;
	font-size:15px; /*<!--新学校-->*/}
.p{
	display:none;}
.o9{
	
	font-size:12px;}	
	
	
	
	
	
	.bg-star1{ background:url(../img/bg-1.png) no-repeat; background-size:cover; height:185px; text-align:center;}
	
	.v1{
		margin-left:5%;
		margin-top:5%;}
		.yu{
	
	color:#a0a19c;
	font-size:4vw;
	}
.five1{
padding-top:0% !important;}

.input
	{  
	outline-color:#FFF;
	vertical-align:middle;
	width: 90%;
	text-align:center;
	background-image: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-right: 3px;
	background-color:#ffffff; 
	height:22px
	line-height:22px
	overflow:hidden;
	border:none;
	color:#777777;
	outline:#FFF;
	font-family:"微软雅黑";
	font-size:14px;
		}
		
		
.r1{
	margin-top:10% !important; width:70%; margin:auto; color:#666666; font-size:4vw;}
.r3{
	width:70%; margin:auto;}
.t7{
	 width:40%;
	 margin:auto;
	 margin-top:5%;}
.t8{
	width:80%;
	margin:auto;
	color:#7b7b7b;
	margin-bottom:5%;
	font-size:3vw;}
.t9{
	margin-bottom:15% !important;}
.t1{
	color:#999999 !important;
	font-size:4vw;}
.t21{
	font-size:5vw;
	border-bottom:1px solid #F0F0EE;}
.t31{
	font-size:3vw;
	border-bottom:1px solid #F0F0EE;}
.u4{
	color:#9cc813;}
	
	
	
	/*xinde4*/
	
	
	
.y1{
	width:50%;
	float:left;
	font-size:4vw;
	color:#000;
	padding:1% 0%;
	margin-top:5%;}
	.y2{
	width:40%;
	margin-left:5%;
	float:left;
	font-size:4vw;
	color:#000;
	padding:1% 0%;
	margin-top:5%;}
	.y4{
	width:50%;
	float:left;
	font-size:5vw;
	color:#000;
	color:#9cc813;
	}
	.y6{
	width:40%;
	margin-left:5%;
	float:left;
	font-size:5vw;
	color:#000;
	color:#9cc813;
	}
	.y5{
		border-right: 2px solid #cccccc;}
.clear1{
	clear:both;}
.y3{
	
	margin-bottom:5%;
	color:#0085d0;
	font-size:4vw;
	}
.y{
	margin-top:10%;}
.u1{
	width:16.6%;
	height:auto;
	color:#666666;
	font-size:3vw;
	float:left;
	padding:6% 0;
}
.u2{
	width:16.6%;
	height:auto;
	color:#666666;
	font-size:3vw;
	float:left;
	background: url(../img/tu.png) center no-repeat;
	background-size:100% 100%;
	color:white !important;
	padding:6% 0;
}
.t{
	width:16% !important;
	}


.u{
	width:100%;
	margin:5% 0%;
	overflow:hidden;}
.t11{
	float:left;
	padding-top:6%;
	}



/*xinde5*/

		
			.wrap1 {
		display: -webkit-box;
		-webkit-box-orient:horizontal;
		}
		.child1{
		-webkit-box-flex: 1;
		}
		


/*xinde7*/

.lightbox{width:70%;top:25%; padding:5%; left:10%; background-color:#FFF; border-radius:7px;}
*{margin:0px;
padding:0px;}

.a2{
	font-size:3vw;padding:5%;color:#000000;}
.a3{
	margin-bottom:5%; padding-left:5%;}
.a4{
	color:#666666;
	font-size:3vw;
	font-weight:bolder;}
.a5{
	float:left; width:55%; padding-left:5%;}
.a6{
	float:right; width:35%; padding-right:5%;}
.a7{
	float:left; width:48%; margin-top:5%;border-radius:5px;background-color:#d9d9d9; padding:4% 0;}
.a8{
	color:white;
	font-size:3vw;}
.a9{
	float:right;margin-top:5%;border-radius:5px; padding:4% 0%; width:48%; background-color:#9cc813;}
.a10{
	color:#333333; font-size:4vw !important; font-weight:bolder;}
.a11{
	color:#9cc813; font-size:4vw !important; font-weight:bolder;}
		
.xx_name{
	float:right;border-radius:12px; border:1px solid #9cc813; padding:1% 4%; font-size:12px; background-color:white; color:#999999;}	
.xx_name1{
	float:right;border-radius:12px; border:1px solid #9cc813; padding:1% 4%; font-size:12px; background-color:white; color:#999999;margin-top:6%; }	
.teli{
	border:1px solid #cccccc !important; color:#cccccc !important;}	
		
.xx_1{
	overflow:hidden;  width:80%; float:left;}	
.xx_2{
	width:100% !important;}	
		