.upload_tips {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:3px;
	font-weight:400;
	font-style:normal;
	vertical-align:middle;
	color:#a3a3a3
}
.appmsg_editor .upload_box {
	height: 32px;
}
.upload_area {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: 3px;
}
.upload_area .upload_access {
	display: inline-block;
	vertical-align: top;
	color: #666;
}
.upload_area .fsUploadProgress{
	width: 80px;
}