@charset "utf-8";
.wrapper_top{position:absolute; display:none; background:rgba(0,0,0,.2); top:0; left:0; right:0;}
.warn{padding:4%; width:70%;background:#fff; border-radius:10px; margin-left:10%; margin-top:50%;}
.warn p{margin-bottom:30px; text-indent:20px;}
button.join{ display:block; margin:10px auto 0;background:#0a85ff; color:#fff; border-radius:5px; border:0 none; padding:10px 40px; font-size:1em;}
.a7{
	float:left; width:48%; margin-top:3%;border-radius:5px;background-color:#d9d9d9; padding:4% 0;}
.a8{
	color:white;
	font-size:3vw;}
.a9{
	float:right;margin-top:3%;border-radius:5px; padding:4% 0%; width:48%; background-color:#9cc813;}
.yangshi{
	color:#9cc813;
	font-size:4vw;
	font-weight:bolder;
	}
.yangshi2{
	padding:2% 0%;
	font-size:3vw;
	font-weight:bolder;
	
	}
.yangshi3{
	overflow:hidden; border-top:1px solid #e8e8e8; margin-top:5%;}