BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 13px/1.5 "Microsoft Yahei", "΢���ź�", Tahoma, Arial, Helvetica, STHeiti; PADDING-TOP: 0px
}
#header {
	MIN-WIDTH: 1000px; BACKGROUND: #2c75bc; OVERFLOW: hidden
}
#footer {
	LINE-HEIGHT: 20px; MARGIN: 20px 15px; COLOR: #666; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #eee 1px solid; PADDING-TOP: 20px
}
#footer SPAN {
	DISPLAY: block
}
#footer P {
	MARGIN: 0px
}
#footer A {
	COLOR: #333
}
.logo {
	BORDER-BOTTOM: #cdced1 1px solid; LINE-HEIGHT: 65px; WIDTH: 339px; BACKGROUND: url(../image/logo.png) #2c75bc no-repeat; HEIGHT: 60px; MARGIN-LEFT: 0px; OVERFLOW: hidden
}
.logo A {
	LETTER-SPACING: 5px; COLOR: #ccc; MARGIN-LEFT: 10px; FONT-SIZE: 20px; TEXT-DECORATION: none
}
.hnav {
	BORDER-BOTTOM: #cdced1 1px solid; HEIGHT: 60px; OVERFLOW: hidden
}
.hnav .hnav-child {
	Z-INDEX: 1000; BORDER-BOTTOM: #e7e6e6 1px solid; POSITION: absolute; BORDER-LEFT: #e7e6e6 1px solid; PADDING-BOTTOM: 10px; DISPLAY: none; BACKGROUND: url(../image/account_bg.png) repeat-x; OVERFLOW: hidden; BORDER-TOP: #e7e6e6 1px solid; BORDER-RIGHT: #e7e6e6 1px solid; TOP: 40px; border-radius: 3px
}
.hnav .hnav-child LI {
	BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: none; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.hnav .hnav-child LI.public_account {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #666; PADDING-TOP: 0px
}
.hnav .hnav-child LI A {
	LINE-HEIGHT: 35px; MARGIN: 0px 10px; DISPLAY: block; HEIGHT: 35px; COLOR: #1985ce; FONT-SIZE: 12px; OVERFLOW: hidden; TEXT-DECORATION: none
}
.hnav .hnav-child LI A:hover {
	COLOR: #ff7f00
}
.hnav .hnav-child LI:hover {
	COLOR: #ff7f00
}
.hnav .hnav-child LI.public_account:hover {
	COLOR: #666
}
.hnav-main LI {
	BORDER-LEFT: #22aede 1px solid; WIDTH: 80px; BACKGROUND: #22a4de; FLOAT: left; HEIGHT: 60px; MARGIN-RIGHT: 1px
}
.hnav-main LI A {
	DISPLAY: block; HEIGHT: 60px; COLOR: #fff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.hnav-main LI A I {
	DISPLAY: block; HEIGHT: 30px; COLOR: #afe0f2; PADDING-TOP: 6px
}
.hnav-main LI:hover {
	BACKGROUND: #188aca
}
.hnav-manage {
	
}
.hnav-manage LI {
	PADDING-RIGHT: 10px; FLOAT: left; MARGIN-RIGHT: 1px
}
.hnav-manage LI#hnav-welcome {
	LINE-HEIGHT: 60px; HEIGHT: 60px; COLOR: #fff
}
.hnav-manage A {
	LINE-HEIGHT: 60px; DISPLAY: block; MAX-WIDTH: 160px; WHITE-SPACE: nowrap; HEIGHT: 60px; COLOR: #fff; FONT-SIZE: 12px; OVERFLOW: hidden; WORD-BREAK: break-all; TEXT-DECORATION: none
}
.hnav-manage .icon-large {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; DISPLAY: block; FLOAT: left; COLOR: #afe0f2; PADDING-TOP: 20px
}
.content-main {
	POSITION: relative; HEIGHT: 100%; OVERFLOW: hidden
}
.content-left {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 158px; PADDING-RIGHT: 0px; BACKGROUND: #f6f6f6; HEIGHT: 100%; OVERFLOW: hidden; BORDER-RIGHT: #dfdfdf 1px solid; PADDING-TOP: 0px
}
.sidebar-nav {
	WIDTH: 158px; OVERFLOW: hidden; -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; -ms-transition: all 500ms ease
}
.sidebar-nav LI {
	LINE-HEIGHT: 33px; HEIGHT: 34px; OVERFLOW: hidden
}
.sidebar-nav LI A {
	PADDING-LEFT: 35px; DISPLAY: block; COLOR: #4d4d4d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sidebar-nav .snav-header A {
	BORDER-BOTTOM: #dfdfdf 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(../image/nav_bg.jpg) repeat-x; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.sidebar-nav .snav-header-list A {
	BORDER-BOTTOM: #dfdfdf 1px solid; PADDING-LEFT: 25px; BACKGROUND: url(../image/nav_bg.jpg) repeat-x; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.sidebar-nav .snav-header A:hover {
	BACKGROUND: url(../image/second_menu_bg.jpg) repeat-x; COLOR: #fff
}
.sidebar-nav .snav-header-list A:hover {
	BACKGROUND: url(../image/second_menu_bg.jpg) repeat-x; COLOR: #fff
}
.sidebar-nav .snav-header .arrow {
	BORDER-BOTTOM: transparent 4px dashed; BORDER-LEFT: #153472 4px solid; MARGIN: 12px 20px 0px 0px; DISPLAY: block; FLOAT: right; BORDER-TOP: transparent 4px dashed; CURSOR: pointer; BORDER-RIGHT: transparent 4px dashed
}
.sidebar-nav .open.snav-header .arrow {
	BORDER-BOTTOM: transparent 4px dashed; BORDER-LEFT: transparent 4px dashed; MARGIN: 15px 20px 0px 0px; BORDER-TOP: #153472 4px solid; BORDER-RIGHT: transparent 4px dashed
}
.sidebar-nav .snav {
	MARGIN: 0px
}
.sidebar-nav .snav-header-list {
	POSITION: relative
}
.sidebar-nav .snav-list {
	BORDER-BOTTOM: #dfdfdf 1px solid; POSITION: relative; DISPLAY: none; BORDER-TOP: #fff 1px solid
}
.sidebar-nav .snav-list A {
	
}
.sidebar-nav .snav-list A:hover {
	BACKGROUND: url(../image/second_menu_bg.jpg) repeat-x; COLOR: #fff
}
.sidebar-nav .current.snav-list A {
	BACKGROUND: url(../image/second_menu_bg.jpg) repeat-x; COLOR: #fff
}
.sidebar-nav .snav-list .snav-small {
	Z-INDEX: 100; BORDER-BOTTOM: medium none; POSITION: absolute; TEXT-ALIGN: right; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 70px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00aff0; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: medium none; RIGHT: 20px; BORDER-RIGHT: medium none; PADDING-TOP: 0px; TOP: 0px
}
.sidebar-nav .snav-list .snav-small:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
.sidebar-nav LI.current .arrow {
	
}
.sidebar-nav .current.snav-header-list .arrow {
	
}
.scroll-button {
	Z-INDEX: 100; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 148px; BOTTOM: 0px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: #215aa0; HEIGHT: 35px; BORDER-TOP: #034183 1px solid; PADDING-TOP: 0px
}
.scroll-button SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 45px; WIDTH: 74px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 35px; COLOR: #fff; FONT-SIZE: 30px; CURSOR: pointer
}
.scroll-button SPAN:hover {
	COLOR: #00aff0
}
.main {
	POSITION: relative; WIDTH: 100%; WORD-WRAP: break-word; BACKGROUND: #fff; MARGIN-LEFT: 0px; OVERFLOW: hidden
}
.nav {
	MIN-WIDTH: 800px; MARGIN: 0px; WIDTH: 100%
}
.nav-tabs {
	BACKGROUND: #eee
}
.nav-tabs > LI > A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 50px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 50px; COLOR: #666; FONT-SIZE: 16px; PADDING-TOP: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0
}
.nav-tabs > .active > A {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; COLOR: #333; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid
}
.nav-tabs > .active > A:hover {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; COLOR: #333; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid
}
.nav-tabs > .active > A:focus {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; COLOR: #333; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid
}
.nav-tabs .pull-right {
	MARGIN-RIGHT: 15px
}
.nav-tabs .pull-right LI {
	MARGIN-TOP: 10px; FLOAT: right
}
.nav-tabs .pull-right A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #006dcc; HEIGHT: 30px; COLOR: #fff; MARGIN-LEFT: 1px; FONT-SIZE: 16px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.nav-tabs .pull-right A:hover {
	BACKGROUND: #0044cc
}
.inline.radio {
	PADDING-TOP: 0px
}
.inline.checkbox {
	PADDING-TOP: 0px
}
FIELDSET {
	WIDTH: 100%
}
.gray {
	FILTER: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(1); -moz-filter: grayscale(100%); -o-filter: grayscale(100%)
}
.tb {
	WIDTH: 100%; CLEAR: both
}
.tb TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; CLEAR: both; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.tb TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; CLEAR: both; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.tb CAPTION {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; CLEAR: both; VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.tb .auto100 {
	WIDTH: 98%
}
.table TD.team A {
	WIDTH: 33%; DISPLAY: block; FLOAT: left
}
.table .navbar-inner {
	BORDER-TOP: 0px
}
.table .navbar-inner TH {
	BORDER-TOP: #d4d4d4 1px solid
}
.form {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.form TH {
	TEXT-ALIGN: left; WIDTH: 120px; FLOAT: none; OVERFLOW: hidden; MARGIN-RIGHT: 20px
}
.form TD {
	POSITION: relative
}
.form H4 {
	BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-BOTTOM: 20px; COLOR: #333; FONT-SIZE: 21px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.form H4 SMALL {
	MARGIN-LEFT: 5px
}
.form A + .help-block {
	MARGIN-TOP: 10px
}
.form DIV + .help-block {
	MARGIN-TOP: 10px
}
.form .help-block {
	COLOR: #999
}
.form :first-child.btn {
	MARGIN-LEFT: 0px
}
.form .add-kw-button {
	FONT-SIZE: 16px
}
.add-reply-button {
	FONT-SIZE: 16px
}
.form .list {
	MARGIN-TOP: 5px
}
.form .alert {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; WIDTH: 646px; PADDING-RIGHT: 15px; MARGIN-BOTTOM: 5px; FLOAT: none; MARGIN-LEFT: 0px; PADDING-TOP: 8px
}
.form .alert .close {
	RIGHT: auto
}
.form .alert .alert {
	POSITION: relative; WIDTH: 615px; FLOAT: left
}
.form .alert .item {
	OVERFLOW: hidden
}
.form .alert-new {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: #f7f7f7; COLOR: #333; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.form .keyword-list {
	
}
.form .reply-list .content {
	WIDTH: 100%; DISPLAY: block
}
.form .reply-list .pull-right {
	TEXT-ALIGN: right; WIDTH: 100%; DISPLAY: block; FLOAT: none
}
.form .reply-list-common .content {
	
}
.form .reply-list-common .pull-right {
	TEXT-ALIGN: right; DISPLAY: block; FLOAT: right
}
.reply-news {
	
}
.reply-news-list {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #eee; COLOR: #333; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.reply-news-list .reply-news-list-cover {
	WIDTH: 150px; BACKGROUND: #ccc; FLOAT: right; HEIGHT: 100px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.reply-news-list .reply-news-list-cover IMG {
	WIDTH: 150px
}
.reply-news-list-detail .title {
	FONT-SIZE: 16px; FONT-WEIGHT: 600
}
.reply-news-list-first .reply-news-list-cover {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: none; HEIGHT: 200px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.reply-news-list-first .reply-news-list-cover IMG {
	WIDTH: 100%
}
.reply-news-list-first .reply-news-list-detail {
	POSITION: absolute; FILTER: Alpha(opacity=70); PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; WIDTH: 603px; BOTTOM: 8px; PADDING-RIGHT: 6px; FONT-FAMILY: arial, ����b8b��, sans-serif; BACKGROUND: #000; COLOR: #fff; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; text-shadow: none
}
.reply-news-list-first .txt-position {
	POSITION: relative; MARGIN-TOP: 10px
}
.reply-news-edit-button {
	TEXT-ALIGN: center !important; PADDING-BOTTOM: 5px !important; PADDING-LEFT: 0px !important; WIDTH: 100%; PADDING-RIGHT: 0px !important; BACKGROUND: #eee; FONT-SIZE: 14px; PADDING-TOP: 5px !important
}
.reply-news-edit-button A {
	WIDTH: 200px
}
.reply-edit-cover {
	WIDTH: 526px; BACKGROUND: #fff; HEIGHT: auto
}
.reply-edit-cover .upload-view {
	MARGIN-TOP: 5px; BORDER-TOP: #ccc 1px solid; PADDING-TOP: 5px
}
.reply-edit-cover .reply-edit-cover-upload {
	MARGIN-TOP: -1px
}
.reply-market-list {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #eee; COLOR: #333; BORDER-TOP: #00aff0 3px solid; BORDER-RIGHT: 0px
}
.reply-market-list .percentage {
	POSITION: absolute; FONT-STYLE: normal; MARGIN-TOP: 4px; MARGIN-LEFT: -25px
}
.account {
	PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.account .pull-right A {
	MARGIN-LEFT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.account .input-append {
	POSITION: relative; WIDTH: 90%; MARGIN-BOTTOM: 0px
}
.account .input-append INPUT {
	WIDTH: 87%
}
.account .input-append BUTTON {
	MIN-WIDTH: 40px; WIDTH: 8%
}
.account .tbody {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #fafafa; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}
.account .tbody .con {
	MARGIN: 10px 0px; OVERFLOW: hidden
}
.account .tbody .name {
	WIDTH: 10%; OVERFLOW: hidden
}
.account .thead {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-RIGHT-COLOR: #ddd; BORDER-LEFT-COLOR: #ddd; BORDER-TOP: #00aff0 2px solid; PADDING-TOP: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0
}
.account H4 {
	COLOR: #333; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.rule {
	PADDING-BOTTOM: 15px; MARGIN: 0px; MIN-HEIGHT: 150px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; OVERFLOW: hidden; PADDING-TOP: 15px
}
.rule .tb {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN: 10px 0px 20px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.rule .tb TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.rule-content {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 8px !important; PADDING-RIGHT: 8px !important; BACKGROUND: #f7f7f7; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px !important
}
.rule-content H4 {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; LINE-HEIGHT: 20px; MARGIN: 10px 0px; COLOR: #333; FONT-SIZE: 17.5px; BORDER-TOP: 0px; FONT-WEIGHT: normal; BORDER-RIGHT: 0px
}
.rule-content .pull-right A {
	MARGIN-LEFT: 10px; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.rule-content LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; WIDTH: 100%; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.rule-kw {
	BORDER-BOTTOM: #ddd 1px solid; BACKGROUND: #fff
}
.rule-kw DIV {
	MARGIN-BOTTOM: 5px
}
.rule-kw SPAN {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; MARGIN-BOTTOM: 3px; BACKGROUND: #e7e7e7; COLOR: #888; MARGIN-RIGHT: 3px; PADDING-TOP: 3px; border-radius: 3px
}
.rule-manage {
	BACKGROUND: #f7f7f7
}
.rule-manage DIV {
	MARGIN-BOTTOM: 8px
}
.rule-manage A {
	MARGIN-RIGHT: 10px
}
.rule-type A {
	PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #afe0f2; COLOR: #fff; FONT-SIZE: 14px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.rule-type A:hover {
	BACKGROUND: #2fbef3
}
.rule-description B {
	WIDTH: 200px; DISPLAY: inline-block; FONT-WEIGHT: normal
}
.search {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.search FORM {
	MARGIN: 0px
}
.search .nav {
	MIN-WIDTH: inherit; WIDTH: inherit
}
.search .tb {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f7f7f7; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 8px
}
.search .tb TR:first-child TD {
	PADDING-TOP: 8px
}
.search .tb TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.search .tb TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.search .tb TH {
	WIDTH: 80px; FONT-SIZE: 16px; VERTICAL-ALIGN: middle
}
.search .tb INPUT {
	MARGIN-BOTTOM: 0px
}
.search .tb SELECT {
	MARGIN-BOTTOM: 0px
}
.search .search-submit TD {
	PADDING-BOTTOM: 0px; BACKGROUND: #f7f7f7; PADDING-TOP: 8px
}
.module {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.module LI {
	POSITION: relative
}
.module-priority {
	LINE-HEIGHT: 30px; HEIGHT: 30px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
SPAN.module-priority {
	CURSOR: default
}
.module-priority SELECT {
	MARGIN: 0px; WIDTH: inherit; VERTICAL-ALIGN: middle
}
.module-pic {
	POSITION: relative; MIN-HEIGHT: 135px; WIDTH: 100%; OVERFLOW: hidden
}
.module-pic IMG {
	MARGIN: 0px auto; MIN-HEIGHT: 135px; WIDTH: 100%; DISPLAY: block
}
.module-button {
	PADDING-BOTTOM: 9px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 30px; FONT-SIZE: 12px; PADDING-TOP: 9px
}
.module-button .popover {
	LINE-HEIGHT: 20px; MARGIN: 0px 0px 55px; WIDTH: auto; BOTTOM: 0px; RIGHT: 0px; TOP: auto; LEFT: auto
}
.module-button .popover-content {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.module-button .popover .arrow {
	LEFT: 85%
}
.module-button .popover SELECT {
	WIDTH: 100%
}
.module-detail {
	POSITION: absolute; FILTER: Alpha(opacity=70); WIDTH: 100%; BOTTOM: 0px; FONT-FAMILY: arial, ����b8b��, sans-serif; BACKGROUND: #000
}
.module-detail P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 0px
}
.module-detail H5 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; COLOR: #fff; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.module-detail H5 SMALL {
	COLOR: #ccc
}
.module-detail P {
	COLOR: #ccc
}
P.module-brief {
	MARGIN-BOTTOM: 10px
}
P.module-description {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: none; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.module .item {
	BORDER-BOTTOM: #ddd 1px dotted; PADDING-BOTTOM: 5px; MARGIN-BOTTOM: 10px
}
.module .media .pull-right {
	WIDTH: 140px; MARGIN-BOTTOM: 0px; OVERFLOW: hidden
}
.module .media .pull-right .input-prepend {
	FLOAT: right
}
.module .media .pull-right .input-prepend .add-on {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 23px; PADDING-TOP: 0px
}
.module .media .pull-right .input-prepend SELECT {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 25px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; HEIGHT: 25px; PADDING-TOP: 1px
}
.module .module-set {
	TEXT-ALIGN: right; MARGIN-TOP: 6px; FLOAT: right
}
.module .module-set A {
	MARGIN-LEFT: 5px
}
.module .media-body SPAN {
	MARGIN-TOP: 6px; DISPLAY: inline-block
}
.module .media-object {
	WIDTH: 48px; HEIGHT: 48px
}
.module .media-heading {
	FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.module .media-description {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: #eee; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 5px
}
.module DIV.alert {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: 600
}
.category {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.category .table TD {
	FONT-SIZE: 16px; VERTICAL-ALIGN: middle
}
.category .table TD INPUT {
	MARGIN-BOTTOM: 0px
}
.category .table .type-child {
	PADDING-LEFT: 55px; BACKGROUND: url(../image/bg_repno.gif) no-repeat -248px -550px
}
.stat {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.stat .stat-div {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; MARGIN-BOTTOM: 10px; BACKGROUND: #f7f7f7; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.stat .stat-div .navbar-inner {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 20px; PADDING-TOP: 0px
}
.stat .nav {
	MIN-WIDTH: 100%
}
.stat .table {
	MARGIN: 0px; FONT-SIZE: 12px
}
.stat .stat-today .table TD {
	BORDER-TOP: 0px
}
.stat DL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0px
}
.stat DL DD {
	LINE-HEIGHT: 20px; MARGIN-LEFT: 0px
}
.stat DL I {
	MARGIN: 0px 5px
}
.stat DL I.icon-arrow-down {
	COLOR: #b7320f
}
.stat DL I.icon-arrow-up {
	COLOR: #289f4b
}
.stat DD.ui-trendgrid-number {
	MARGIN: 10px 0px; WHITE-SPACE: nowrap; FONT-SIZE: 30px
}
.stat .sub-item {
	BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.stat .sub-item .date-section {
	VERTICAL-ALIGN: middle
}
.stat .sub-item .date-section A {
	MARGIN: 0px 5px
}
.stat .sub-item .kw {
	MARGIN-BOTTOM: 0px
}
.stat .sub-title {
	BORDER-LEFT: #666 5px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal
}
.stat #table-list {
	BORDER-BOTTOM: 0px
}
.stat #table-list .table-hover TBODY TR:hover > TD {
	BACKGROUND-COLOR: #eee
}
.sub-content .table-hover TBODY TR:hover > TH {
	BACKGROUND-COLOR: #eee
}
.stat #table-list .table THEAD TH {
	TEXT-ALIGN: left; CURSOR: pointer
}
.stat #table-list .table THEAD TH I {
	WIDTH: 10px; DISPLAY: inline-block; COLOR: #666; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.stat #table-list .table TBODY TD {
	TEXT-ALIGN: left; COLOR: #666
}
.stat #table-list .table .row-first {
	TEXT-ALIGN: left; PADDING-LEFT: 15px
}
.stat #table-list .table .row-hover {
	
}
.message {
	PADDING-BOTTOM: 10px; BORDER-RIGHT-WIDTH: 5px; MARGIN: 50px auto 0px; MIN-HEIGHT: 80px; PADDING-LEFT: 20px; WIDTH: 600px; PADDING-RIGHT: 20px; BORDER-TOP-WIDTH: 5px; BORDER-BOTTOM-WIDTH: 5px; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 5px; PADDING-TOP: 20px
}
.message .icon {
	MARGIN-RIGHT: 20px
}
.message .icon I {
	FONT-SIZE: 75px
}
.message .content {
	OVERFLOW: hidden
}
.message H4 {
	LINE-HEIGHT: 30px; MARGIN: 10px 0px
}
.settype .header TD {
	BORDER-BOTTOM: #deeffb 1px dotted; FONT-WEIGHT: 700
}
.header TH {
	BORDER-BOTTOM: #deeffb 1px dotted; FONT-WEIGHT: 700
}
.settype INPUT[type='text'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #f9f9f9; COLOR: #333; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.settype TR {
	BORDER-BOTTOM-COLOR: inherit; BORDER-TOP-COLOR: inherit; DISPLAY: table-row; BORDER-RIGHT-COLOR: inherit; VERTICAL-ALIGN: inherit; BORDER-LEFT-COLOR: inherit
}
.settype TR.hover {
	BORDER-BOTTOM: #deeffb 1px dotted
}
.settype TR.hover:hover {
	BACKGROUND: #eff2f4
}
.settype TD {
	PADDING-BOTTOM: 5px !important; LINE-HEIGHT: 25px; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; HEIGHT: 25px; PADDING-TOP: 5px !important
}
.settype .td60 {
	WIDTH: 60px
}
.settype .order {
	WIDTH: 50px
}
.settype .td106 {
	WIDTH: 310px
}
.settype .td106 INPUT[type='text'] {
	WIDTH: 106px
}
.settype .type_show SELECT {
	WIDTH: 60px
}
.settype .addchildtype {
	LINE-HEIGHT: 12px; PADDING-LEFT: 17px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../image/bg_repno.gif) no-repeat 0px -599px; HEIGHT: 15px; MARGIN-RIGHT: 5px
}
.addnewtype {
	LINE-HEIGHT: 12px; PADDING-LEFT: 17px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../image/bg_repno.gif) no-repeat 0px -599px; HEIGHT: 15px; MARGIN-RIGHT: 5px
}
.settype .addnewtype {
	BACKGROUND-POSITION: 0px 1px
}
.settype .type_child {
	PADDING-LEFT: 55px; WIDTH: 255px; BACKGROUND: url(../image/bg_repno.gif) no-repeat -240px -550px
}
.settype .newadd {
	BORDER-TOP: #deeffb 1px dotted
}
.settype .addchildtype A {
	COLOR: #f60 !important; TEXT-DECORATION: none
}
.addnewtype A {
	COLOR: #f60 !important; TEXT-DECORATION: none
}
.settype .type_pic {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #f9f9f9; HEIGHT: 23px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.settype .type_pic INPUT[type='file'] {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 23px; WIDTH: 150px; BACKGROUND: #f9f9f9; HEIGHT: 23px; COLOR: #333; OVERFLOW: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#reply-content .form {
	MARGIN: 20px 0px
}
#reply-content TH {
	WIDTH: 70px !important
}
#reply-content #upload-file-view IMG {
	MARGIN-TOP: 8px
}
.modules .disabled {
	COLOR: #ccc
}
.modules .disabled .desc {
	DISPLAY: none; 
	word-break:break-all;
}
.help-list {
	MARGIN: 10px 20px; FONT-SIZE: 16px
}
.help-list LI {
	LIST-STYLE-TYPE: square; MARGIN: 10px 0px; PADDING-LEFT: 10px
}
.upload-area {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 300px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #666666; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 9px; border-radius: 3px 3px 3px 3px
}
.upload-file-btn FORM {
	MARGIN: 0px
}
.upload-file-btn .ke-button-common {
	
}
.upload-file-btn .upload-area {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; HEIGHT: 25px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.floattop {
	MARGIN: 10px 20px; OVERFLOW: hidden
}
.floattop LI {
	TEXT-ALIGN: center; FLOAT: left; FONT-WEIGHT: 700; MARGIN-RIGHT: 3px
}
.floattop LI A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #666; PADDING-TOP: 3px; border-radius: 3px
}
.floattop LI A.current {
	BACKGROUND: #666; COLOR: #fff
}
.floattop LI A:hover {
	BACKGROUND: #eee; COLOR: #478fce
}
.account_item {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; MARGIN: 20px; BACKGROUND: #eee; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; border-radius: 3px
}
.account_content {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 30px; PADDING-TOP: 0px
}
.account_content .data {
	COLOR: #333; FONT-WEIGHT: bold
}
.account_desc {
	BORDER-BOTTOM: #e1e1e1 2px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f9f9f9; BORDER-TOP: #fff 1px solid; PADDING-TOP: 10px
}
.account_desc DIV {
	MARGIN-TOP: 3px; HEIGHT: 30px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.account_desc SPAN {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.account_desc LABEL {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.account_desc INPUT {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.account_desc BUTTON {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.account_desc LABEL {
	LINE-HEIGHT: 25px; WIDTH: 75px; HEIGHT: 25px; MARGIN-RIGHT: 5px
}
.account_desc SPAN {
	BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; BACKGROUND: url(../image/bg-form-txt.gif) white repeat-x left top; HEIGHT: 25px; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
.account_desc INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 16px; MARGIN-TOP: 4px; WIDTH: 400px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #363636; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.account_desc INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.account_desc BUTTON {
	LINE-HEIGHT: 25px; MARGIN: 0px; HEIGHT: 25px
}
.rule_item {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; BACKGROUND-COLOR: white; MARGIN: 10px 20px 5px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; border-radius: 3px
}
.rule_content {
	BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #eee; HEIGHT: 30px; PADDING-TOP: 0px
}
.rule_content .data {
	COLOR: #333; FONT-WEIGHT: bold
}
.rule_desc {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f9f9f9; BORDER-TOP: #fff 1px solid; PADDING-TOP: 10px
}
.more_menu_button {
	POSITION: absolute; PADDING-BOTTOM: 8px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: inline-block; RIGHT: 8px; PADDING-TOP: 8px; TOP: 6px
}
.more_menu_button SPAN {
	BORDER-BOTTOM: transparent 4px dashed; BORDER-LEFT: transparent 4px dashed; LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: #84bce2 4px solid; CURSOR: pointer; BORDER-RIGHT: transparent 4px dashed
}
.more_menu_button:hover SPAN {
	BORDER-TOP-COLOR: #478fce
}
.more_menu_list {
	Z-INDEX: 10000; BORDER-BOTTOM: #e1e1e1 1px solid; POSITION: absolute; TEXT-ALIGN: right; BORDER-LEFT: #e1e1e1 1px solid; DISPLAY: block; BACKGROUND: #f9f9f9; BORDER-TOP: #e1e1e1 1px solid; RIGHT: -1px; BORDER-RIGHT: #e1e1e1 1px solid; TOP: 30px
}
.more_menu_list UL {
	BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 5px
}
.more_menu_list LI {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.more_menu_list LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 25px; PADDING-TOP: 0px
}
.modules_menu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 55px; PADDING-TOP: 0px
}
.modules_menu A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline-block; BACKGROUND: #e7e7e7; HEIGHT: 25px; COLOR: #888; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px; border-radius: 3px
}
.modules_menu A:hover {
	BORDER-BOTTOM: #52a0da 1px solid; BORDER-LEFT: #52a0da 1px solid; BACKGROUND: #84bce2; COLOR: #fff; BORDER-TOP: #52a0da 1px solid; BORDER-RIGHT: #52a0da 1px solid
}
.modules_menu A.current {
	BORDER-BOTTOM: #52a0da 1px solid; BORDER-LEFT: #52a0da 1px solid; BACKGROUND: #84bce2; COLOR: #fff; BORDER-TOP: #52a0da 1px solid; BORDER-RIGHT: #52a0da 1px solid
}
.modules_menu .modules_menu_button {
	POSITION: relative; PADDING-RIGHT: 18px; DISPLAY: inline-block; RIGHT: 0px; TOP: 0px
}
.modules_menu .modules_menu_button SPAN {
	BORDER-BOTTOM: transparent 5px dashed; POSITION: absolute; BORDER-LEFT: transparent 5px dashed; LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-TOP: #fff 5px solid; CURSOR: pointer; RIGHT: 5px; BORDER-RIGHT: transparent 5px dashed; TOP: 10px
}
.modules_menu_hide {
	Z-INDEX: 10000; BORDER-BOTTOM: #e1e1e1 1px solid; POSITION: absolute; MIN-WIDTH: 110px; TEXT-ALIGN: left; BORDER-LEFT: #e1e1e1 1px solid; MARGIN-TOP: 28px; DISPLAY: block; BACKGROUND: #f9f9f9; BORDER-TOP: #e1e1e1 1px solid; RIGHT: 212px; BORDER-RIGHT: #e1e1e1 1px solid
}
.modules_menu_hide UL {
	BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 5px
}
.modules_menu_hide LI {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.modules_menu_hide LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 25px; COLOR: #666; PADDING-TOP: 0px
}
.modules_menu_hide LI A:hover {
	COLOR: #478fce
}
.modules_menu_hide LI A.current {
	COLOR: #478fce
}
.system_button {
	WIDTH: 100%; HEIGHT: 25px; OVERFLOW: hidden
}
.system_button A {
	DISPLAY: none; FLOAT: right; MARGIN-LEFT: 10px
}
.hover.system_button {
	DISPLAY: block
}
.module_item {
	BORDER-BOTTOM: lightgrey 1px solid; BORDER-LEFT: lightgrey 1px solid; PADDING-BOTTOM: 10px; MARGIN: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #eee; BORDER-TOP: lightgrey 1px solid; BORDER-RIGHT: lightgrey 1px solid; PADDING-TOP: 10px; border-radius: 3px
}
.module_m {
	OVERFLOW: hidden
}
.module_m .fr A {
	MARGIN-LEFT: 5px
}
.module_content .data {
	COLOR: #333; FONT-WEIGHT: bold
}
.disabled .module_content .data {
	COLOR: #ccc
}
.module_description {
	MARGIN-TOP: 5px; DISPLAY: none; BORDER-TOP: #ccc 1px dashed; PADDING-TOP: 5px
}
#we7_tips {
	Z-INDEX: 10000; POSITION: fixed; BOTTOM: 10px; RIGHT: 10px; _position: absolute; _bottom: auto
}
.we7_tips {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 290px; PADDING-RIGHT: 5px; BACKGROUND: #f3f3f3; FONT-SIZE: 12px; PADDING-TOP: 5px; box-shadow: 0px 0px 5px #666; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px #666; -moz-box-shadow: 0px 0px 5px #666; _border: 1px solid #CCC; _border-top: 1px solid #E6E6E6; _border-left: 1px solid #E6E6E6
}
.we7_tips A {
	COLOR: #369; TEXT-DECORATION: none
}
.we7_tips A:hover {
	COLOR: #369; TEXT-DECORATION: underline
}
.we7_tips_main {
	BORDER-BOTTOM: #e6e6de 1px solid; BORDER-LEFT: #e6e6de 1px solid; BACKGROUND: #fff; BORDER-TOP: #e6e6de 1px solid; BORDER-RIGHT: #e6e6de 1px solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
.we7_tips_header {
	BORDER-BOTTOM: #e6e6de 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: url(../image/we7_tips_bg.png) repeat-x 0px 0px; HEIGHT: 28px; COLOR: #333
}
.we7_tips_header A.we7_tips_close {
	WIDTH: 30px; BACKGROUND: url(../image/we7_tips_bg.png) no-repeat 0px -28px; FLOAT: right; HEIGHT: 28px; CURSOR: pointer
}
.we7_tips_header A.we7_tips_close:hover {
	BACKGROUND: url(../image/we7_tips_bg.png) no-repeat 0px -56px
}
.we7_tips_header .we7_tips_title {
	PADDING-LEFT: 25px; BACKGROUND: url(../image/we7_tips_title.png) no-repeat 0px 50%; HEIGHT: 27px
}
.we7_tips_content {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; PADDING-TOP: 10px
}
.we7_tips_content DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 0px
}
.we7_tips_content DT {
	TEXT-ALIGN: left; MARGIN-BOTTOM: 10px; FONT-WEIGHT: 700
}
.we7_tips_content DD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 5px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; WORD-BREAK: break-all; PADDING-TOP: 0px
}
.we7_tips_pic {
	MARGIN: 0px 10px 0px 0px; WIDTH: 86px; DISPLAY: none; FLOAT: left; HEIGHT: 86px; OVERFLOW: hidden
}
.we7_tips_pic IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 86px; HEIGHT: 86px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.we7_tips_view {
	ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.we7_tips_view A {
	PADDING-LEFT: 18px; BACKGROUND: url(../image/we7_tips_bg.png) no-repeat 0px -96px; FLOAT: right
}
.we7_tips_show {
	
}
.we7_tips_show .we7_tips_pic {
	DISPLAY: block
}
.we7_tips_show .we7_tips_content DT {
	TEXT-ALIGN: left
}
.manage_search {
	MARGIN-BOTTOM: 10px; BACKGROUND: #f7f7f7
}
.manage_search .title {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #eee; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #333; OVERFLOW: hidden; BORDER-TOP: #ccc 2px solid; FONT-WEIGHT: 600; PADDING-TOP: 5px
}
.manage_search .main {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.manage_search .con {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.manage_search LABEL {
	WIDTH: 100px; DISPLAY: inline-block; FONT-WEIGHT: 600
}
.manage_search .txt {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 25px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.manage_list TH {
	WIDTH: 40px !important
}
.manage_list .listHead {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #eee; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #ccc 2px solid; PADDING-TOP: 5px
}
.manage_list .listHead TD {
	COLOR: #333; FONT-WEIGHT: 600
}
.manage_list .list {
	BORDER-BOTTOM: #ccc 1px solid
}
.manage_list .list:hover {
	BACKGROUND-COLOR: #f1f1f1
}
.manage_list .list .manageBtn {
	DISPLAY: none
}
.manage_list .list:hover .manageBtn {
	DISPLAY: block
}
.manage_list .list .avatar {
	BORDER-BOTTOM: #cfcfcf 1px solid; BORDER-LEFT: #cfcfcf 1px solid; WIDTH: 48px; FLOAT: left; HEIGHT: 48px; BORDER-TOP: #cfcfcf 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: #cfcfcf 1px solid
}
.manage_list .list .nickname {
	MARGIN-BOTTOM: 10px; FONT-WEIGHT: 600
}
.manage_list .list .mainContent {
	WIDTH: 410px; FLOAT: left; OVERFLOW: hidden
}
.manage_list TD IMG {
	WIDTH: 200px
}
.emotions {
	Z-INDEX: 9999999; BORDER-BOTTOM: #aaa 1px solid; POSITION: absolute; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: none; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 5px; TOP: 30px; LEFT: 20px
}
.emotions TABLE TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.emotions TABLE TD DIV {
	BORDER-BOTTOM: #dfe6f6 1px solid; BORDER-LEFT: #dfe6f6 1px solid; WIDTH: 24px; BACKGROUND: url(https://res.mail.qq.com/zh_CN//images/mo/DEFAULT2/default.gif) no-repeat 0px 0px; HEIGHT: 24px; BORDER-TOP: #dfe6f6 1px solid; CURSOR: pointer; BORDER-RIGHT: #dfe6f6 1px solid
}
.emotions TABLE DIV:hover {
	BORDER-BOTTOM: blue 1px solid; BORDER-LEFT: blue 1px solid; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid
}
.emotions .emotionsGif {
	BORDER-BOTTOM: #aaa 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 20px; WIDTH: 24px; PADDING-RIGHT: 20px; HEIGHT: 24px; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 20px; TOP: -1px; LEFT: 430px
}
.iconEmotion {
	FONT-SIZE: 14px
}
#uploadButton {
	PADDING-LEFT: 18px; DISPLAY: inline-block; BACKGROUND: url(../image/uploadButton.png) no-repeat; HEIGHT: 18px
}
.analysis {
	MIN-HEIGHT: 100px; WIDTH: 810px; DISPLAY: table; CONTENT: ""
}
.analysis H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; MARGIN: 20px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 28px; COLOR: #333; FONT-SIZE: 21px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.analysis H2.info {
	MARGIN-TOP: 0px
}
.analysis H2.module {
	MARGIN-BOTTOM: 10px
}
.analysis .wrap {
	WIDTH: 810px; DISPLAY: table; CONTENT: ""
}
.analysis .console_intro {
	BORDER-BOTTOM: #f3f3f3 1px solid; BORDER-LEFT: #f3f3f3 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 248px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 110px; BORDER-TOP: #f3f3f3 1px solid; BORDER-RIGHT: #f3f3f3 1px solid; PADDING-TOP: 10px; border-radius: 4px
}
.analysis .console_intro H3 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; MARGIN: 0px 0px 7px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; COLOR: #54b1d9; FONT-SIZE: 14px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.analysis .console_intro H3 SPAN IMG {
	WIDTH: 32px; HEIGHT: 32px; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.analysis .console_intro P {
	LINE-HEIGHT: 18px; PADDING-LEFT: 4px; COLOR: #999; FONT-SIZE: 12px
}
.analysis UL.msg {
	BORDER-BOTTOM: #f3f3f3 1px solid; BORDER-LEFT: #f3f3f3 1px solid; FLOAT: right; MARGIN-LEFT: 0px; BORDER-TOP: #f3f3f3 1px solid; BORDER-RIGHT: #f3f3f3 1px solid; border-radius: 4px
}
.analysis UL.msg LI {
	LIST-STYLE-TYPE: none; WIDTH: 175px; FLOAT: left; HEIGHT: 130px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #f3f3f3 1px solid
}
.analysis UL.msg LI.last {
	BORDER-RIGHT: medium none
}
.analysis UL.msg LI H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 46px; MARGIN: 26px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 46px; COLOR: #54b1d9; FONT-SIZE: 30px; PADDING-TOP: 0px
}
.analysis UL.msg LI DIV {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; HEIGHT: 30px; FONT-SIZE: 14px
}
.analysis .module_wrap {
	BORDER-BOTTOM: #cecac4 1px solid; POSITION: relative; BORDER-LEFT: #cecac4 1px solid; WIDTH: 808px; DISPLAY: table; BORDER-TOP: #cecac4 1px solid; CONTENT: ""; BORDER-RIGHT: #cecac4 1px solid; border-radius: 6px
}
.analysis .module_wrap .load_chart {
	POSITION: absolute; TEXT-ALIGN: center; TOP: 320px; LEFT: 310px
}
.analysis .module_wrap .load_chart SPAN {
	WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(../image/load_big.gif) no-repeat; HEIGHT: 32px
}
.analysis .module_wrap .load_chart H4 {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.analysis .module_wrap .tab {
	BACKGROUND-COLOR: #f9f7f4; WIDTH: 808px; DISPLAY: table; HEIGHT: 125px; CONTENT: ""; border-top-left-radius: 6px; border-top-right-radius: 6px
}
.analysis .module_wrap .tab .img {
	MARGIN: 8px 0px 0px 15px; WIDTH: 776px; BACKGROUND: url(../image/chart_tab.jpg) no-repeat left 50%; HEIGHT: 115px
}
.analysis .module_wrap .tab_content {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 788px; PADDING-RIGHT: 10px; DISPLAY: table; CONTENT: ""; PADDING-TOP: 10px
}
.analysis .module_wrap .tab_content .info_total {
	MARGIN: 8px 0px 15px; HEIGHT: 24px
}
.analysis .module_wrap .tab_content .info_total UL {
	FLOAT: left; MARGIN-LEFT: 3px
}
.analysis .module_wrap .tab_content .info_total UL LI {
	LINE-HEIGHT: 24px; LIST-STYLE-TYPE: none; PADDING-LEFT: 7px; BACKGROUND: url(../image/square.jpg) no-repeat left center; FLOAT: left; HEIGHT: 24px; COLOR: #666; FONT-SIZE: 12px; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 30px
}
.analysis .module_wrap .tab_content .info_total UL LI SPAN {
	COLOR: #1c96e2; FONT-SIZE: 16px
}
.analysis .module_wrap .tab_content .info_total UL LI SPAN.color_gray {
	COLOR: #ccc
}
.analysis .module_wrap .tab_content .info_total BUTTON {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 24px; BACKGROUND: #1c96e2; FLOAT: right; COLOR: #fff; MARGIN-LEFT: 5px; FONT-SIZE: 12px; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; border-radius: 3px
}
.analysis .module_wrap .tab_content .chartwrap {
	MIN-HEIGHT: 300px; BACKGROUND: #efefef; border-radius: 4px
}
.analysis .module_wrap .tab_content .chartwrap SPAN.no_data {
	MARGIN-TOP: 100px
}
.analysis .module_wrap .tab_content .chart {
	WIDTH: 769px; DISPLAY: table; MARGIN-BOTTOM: 10px; BACKGROUND: url(../image/chart.jpg) no-repeat center 50%; HEIGHT: 248px; CONTENT: ""
}
.slider {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 40px; WIDTH: 716px; PADDING-RIGHT: 40px; BACKGROUND: #f9f7f4; MARGIN-LEFT: 6px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.slider .arrow_pre {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 24px; HEIGHT: 43px; CURSOR: pointer; TOP: 40px; opacity: 0.5
}
.slider .arrow_next {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 24px; HEIGHT: 43px; CURSOR: pointer; TOP: 40px; opacity: 0.5
}
.slider .arrow_pre:hover {
	opacity: 1
}
.slider .arrow_next:hover {
	opacity: 1
}
.slider .arrow_pre {
	BACKGROUND: url(../image/images/arrow-prev.png) no-repeat; LEFT: 10px
}
.slider .arrow_next {
	BACKGROUND: url(../image/images/arrow-next.png) no-repeat; RIGHT: 10px
}
.slider .move_wrap {
	WIDTH: 716px; OVERFLOW: hidden
}
.slider .s_wrap {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 117px; PADDING-TOP: 0px
}
.slider .s_wrap .module_title {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 5px; WIDTH: 150px; BOTTOM: 5px; PADDING-RIGHT: 5px; BACKGROUND: #000; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 12px; PADDING-TOP: 0px; opacity: 0.35
}
.slider .s_wrap .module_title SPAN {
	COLOR: #aaa
}
.slider .s_wrap LI {
	POSITION: absolute; LIST-STYLE-TYPE: none; WIDTH: 170px; HEIGHT: 123px; LIST-STYLE-IMAGE: none
}
.slider .s_wrap LI A {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 160px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 93px; COLOR: #666; PADDING-TOP: 5px
}
.slider .s_wrap LI A.current {
	BACKGROUND: url(../image/images/home_module_bg.jpg) no-repeat 50% top; HEIGHT: 102px
}
.slider .s_wrap LI A:hover {
	BACKGROUND: url(../image/images/home_module_bg.jpg) no-repeat 50% top; HEIGHT: 102px
}
.slider .s_wrap LI A.current .module_title {
	BOTTOM: 14px; opacity: 0.5
}
.slider .s_wrap LI A:hover .module_title {
	BOTTOM: 14px; opacity: 0.5
}
.slider .s_wrap LI A IMG {
	FILTER: alpha(opacity=55); WIDTH: 160px; HEIGHT: 93px; OVERFLOW: hidden; opacity: 0.55; -moz-opacity: 0.55
}
.slider .s_wrap LI A.current IMG {
	FILTER: alpha(opacity=100); opacity: 1; -moz-opacity: 1
}
.slider .s_wrap LI A:hover IMG {
	FILTER: alpha(opacity=100); opacity: 1; -moz-opacity: 1
}
.stat .sub-content .rule_msg {
	MIN-WIDTH: 900px; MARGIN: 0px 0px 20px; DISPLAY: table; BORDER-TOP: #ccc 1px solid; CONTENT: ""
}
.stat .sub-content .rule_msg LI {
	BORDER-BOTTOM: #ccc 1px dotted; MIN-WIDTH: 900px; PADDING-BOTTOM: 15px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: table; CONTENT: ""; LIST-STYLE-IMAGE: none; PADDING-TOP: 15px
}
.img_profile {
	WIDTH: 50px; BACKGROUND: #ccc; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 5px
}
.stat .sub-content .rule_msg LI .msg {
	WIDTH: 850px; DISPLAY: table; FLOAT: left; CONTENT: ""
}
.stat .sub-content .rule_msg LI .msg .title {
	POSITION: relative; MARGIN-TOP: 2px; HEIGHT: 16px
}
.stat .sub-content .rule_msg LI .msg .title SPAN {
	COLOR: #999; MARGIN-LEFT:30px;
}
.stat .sub-content .rule_msg LI .msg .title .fans_name {
	LINE-HEIGHT: 16px; FLOAT: left; MARGIN-RIGHT: 190px
}
.stat .sub-content .rule_msg LI .msg .title .module_name {
	LINE-HEIGHT: 16px; FLOAT: left; MARGIN-RIGHT: 80px
}
.stat .sub-content .rule_msg LI .msg .title .rule_name {
	LINE-HEIGHT: 16px; FLOAT: left; MARGIN-RIGHT: 20px
}
.stat .sub-content .rule_msg LI .msg .title .fans_name {
	COLOR: #1c96e2; FONT-WEIGHT: bold
}
.stat .sub-content .rule_msg LI .msg .title .fans_name A {
	FONT-SIZE: 12px
}
.stat .sub-content .rule_msg LI .msg .title .time {
	FLOAT: letf; MARGIN-LEFT: 99px; FONT-SIZE: 12px
}
.stat .sub-content .rule_msg LI .msg .title .control {
	FLOAT: right; MARGIN-LEFT: 20px; FONT-SIZE: 12px
}
.stat .sub-content .rule_msg LI .msg .title .control A {
	COLOR: #999
}
.stat .sub-content .rule_msg LI .msg .title .group_and_remark .item:hover SPAN {
	COLOR: #1c96e2
}
.stat .sub-content .rule_msg LI .msg .content {
	BORDER-BOTTOM: #ebebeb 1px solid; TEXT-ALIGN: left; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false); BORDER-LEFT: #e6e6e6 1px solid; LINE-HEIGHT: 28px; BACKGROUND-COLOR: #efefef; MARGIN: 3px 0px; PADDING-LEFT: 10px; BACKGROUND-REPEAT: repeat-x; COLOR: #666; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px
}
.stat .sub-content .rule_msg LI .msg .btn_wrap {
	HEIGHT: 20px
}
.stat .sub-content .rule_msg LI .msg .btn_wrap .btn {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: right; HEIGHT: 22px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.stat .sub-content .rule_msg LI .msg .btn_wrap .total {
	LINE-HEIGHT: 23px; FLOAT: right; COLOR: #ccc; MARGIN-RIGHT: 10px
}
.searchbtn {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; MARGIN-LEFT: -10px; PADDING-TOP: 5px
}
.fixed_txt_th {
	PADDING-TOP: 7px
}
.fixed_txt_title {
	HEIGHT: 30px; OVERFLOW: hidden
}
.fixed_txt_title LABEL {
	LINE-HEIGHT: 30px; FLOAT: left; MARGIN-RIGHT: 25px
}
.fixed_txt_title INPUT {
	MARGIN: 5px 3px 8px 0px
}
.fans_group_wrap {
	POSITION: relative
}
.fans_group {
	POSITION: relative; WIDTH: 100px
}
.fans_group SPAN {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.fans_group I {
	MARGIN-TOP: 3px; FLOAT: right
}
.fans_group_wrap UL.fans_group_list {
	Z-INDEX: 101; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 111px; PADDING-RIGHT: 0px; BACKGROUND: #fff; MAX-HEIGHT: 150px; BORDER-TOP: #ccc 1px solid; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px; TOP: 35px; LEFT: 0px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border-radius: 4px
}
.fans_group_wrap UL.fans_group_list LI {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #888; CURSOR: pointer; PADDING-TOP: 0px
}
.fans_group_wrap UL.fans_group_list LI:hover {
	COLOR: #1c96e2
}
.fans_group_wrap UL.fans_group_list LI.create_group {
	BORDER-BOTTOM: #ddd 1px solid; BACKGROUND: #eee; COLOR: #666
}
.fans_group_wrap UL.fans_group_list LI.create_group SPAN.icon-plus {
	MARGIN: 7px 5px 0px
}
.fans_group_wrap UL.fans_group_list LI.create_group:hover {
	BACKGROUND: #ddd; COLOR: #666
}
.fans_group_wrap .group_layer {
	Z-INDEX: 102; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px; TOP: 55px; LEFT: 65px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}
.fans_group_wrap .group_layer .span6 {
	WIDTH: 185px; COLOR: #ccc
}
.fans_group_wrap .group_layer BUTTON {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: #f5f5f5 repeat-x; FLOAT: right; HEIGHT: 24px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; border-radius: 4px
}
.fans_group_wrap .group_layer .btn-cancel {
	COLOR: #777; MARGIN-RIGHT: 5px
}
.fans_group_wrap .group_layer .btn-sure {
	BORDER-BOTTOM: #0761b9 1px solid; BORDER-LEFT: #0761b9 1px solid; COLOR: #fff; BORDER-TOP: #0761b9 1px solid; BORDER-RIGHT: #0761b9 1px solid
}
.fans_group_wrap .group_layer .btn-cancel:hover {
	BACKGROUND-REPEAT: repeat-x
}
.fans_group_wrap .group_layer .btn-sure:hover {
	
}
.fans_group_manage {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MIN-HEIGHT: 400px; WIDTH: 220px; FLOAT: right; MARGIN-LEFT: 8px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.fans_group_manage H3 {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; MARGIN: 0px; MIN-HEIGHT: 34px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 34px; FONT-SIZE: 14px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px; border-radius: 0
}
.fans_group_manage H3 SPAN {
	FLOAT: left
}
.fans_group_manage H3 .ico_create_group {
	WIDTH: 20px; DISPLAY: inline-block; BACKGROUND: url(../image/fans_group_icons.png) no-repeat -18px -125px; FLOAT: right; HEIGHT: 30px; CURSOR: pointer
}
.fans_group_manage UL.group_list {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px
}
.fans_group_manage UL.group_list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; DISPLAY: table; HEIGHT: 32px; FONT-SIZE: 12px; CONTENT: ""; CURSOR: pointer; PADDING-TOP: 0px
}
.fans_group_manage UL.group_list LI:hover {
	BACKGROUND: #eee
}
.fans_group_manage UL.group_list LI.line {
	HEIGHT: 9px; OVERFLOW: hidden; BORDER-TOP: #eee 1px solid
}
.fans_group_manage UL.group_list LI.group_input:hover {
	BACKGROUND: #fff
}
.fans_group_manage UL.group_list LI.line:hover {
	BACKGROUND: #fff
}
.fans_group_manage UL.group_list LI .span6 {
	WIDTH: 119px; FLOAT: left; MARGIN-RIGHT: 3px
}
.fans_group_manage UL.group_list LI .wrong_input {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; COLOR: red; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid
}
.fans_group_manage UL.group_list LI BUTTON {
	BACKGROUND-IMAGE: url(../image/fans_group_icons.png); BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #fff; WIDTH: 32px; FLOAT: left; HEIGHT: 32px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.fans_group_manage UL.group_list LI BUTTON.btn_sure {
	BACKGROUND-POSITION: -11px -12px
}
.fans_group_manage UL.group_list LI BUTTON.btn_sure:hover {
	BACKGROUND-POSITION: -11px -55px
}
.fans_group_manage UL.group_list LI BUTTON.btn_del {
	BACKGROUND-POSITION: -55px -12px
}
.fans_group_manage UL.group_list LI BUTTON.btn_del:hover {
	BACKGROUND-POSITION: -55px -55px
}
.fans_group_manage UL.group_list LI SPAN {
	LINE-HEIGHT: 32px; DISPLAY: inline-block; FLOAT: left
}
.fans_group_manage UL.group_list LI .icon_del {
	BACKGROUND-IMAGE: url(../image/fans_group_icons.png); WIDTH: 17px; DISPLAY: none; FLOAT: right; HEIGHT: 32px; CURSOR: pointer
}
.fans_group_manage UL.group_list LI .icon_edit {
	BACKGROUND-IMAGE: url(../image/fans_group_icons.png); WIDTH: 17px; DISPLAY: none; FLOAT: right; HEIGHT: 32px; CURSOR: pointer
}
.fans_group_manage UL.group_list LI .icon_del {
	BACKGROUND-POSITION: -55px -95px
}
.fans_group_manage UL.group_list LI .icon_edit {
	BACKGROUND-POSITION: -26px -95px; MARGIN-RIGHT: 3px
}
.fans_group_manage UL.group_list LI:hover .icon_del {
	DISPLAY: block
}
.fans_group_manage UL.group_list LI:hover .icon_edit {
	DISPLAY: block
}
.fans_table TABLE .row-hover:hover .icon_edit {
	BACKGROUND-IMAGE: url(../image/fans_group_icons.png); WIDTH: 17px; DISPLAY: inline-block; BACKGROUND-POSITION: -26px -95px; FLOAT: right; HEIGHT: 28px; MARGIN-RIGHT: 5px
}
.fans_table TABLE .row-hover SPAN {
	LINE-HEIGHT: 28px; FLOAT: left
}
.fans_table TABLE .row-hover SELECT {
	MARGIN: 0px
}
.fans_table TABLE TD {
	LINE-HEIGHT: 28px
}
.fans_table TABLE .row-hover A {
	LINE-HEIGHT: 28px
}
.fans_table TABLE .row-hover .span6 {
	WIDTH: 130px; MARGIN-BOTTOM: 0px
}
.fans_table TABLE .row-hover .wrong_input {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; COLOR: red; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid
}
.fans_search BUTTON.span5 {
	WIDTH: 230px
}
.fans_search SELECT {
	MARGIN: 0px 0px 0px 5px; WIDTH: 140px
}
.stat .overflow_v {
	OVERFLOW: visible
}
INPUT {
	FONT-FAMILY: "΢���ź�"
}
BUTTON {
	FONT-FAMILY: "΢���ź�"
}
SELECT {
	FONT-FAMILY: "΢���ź�"
}
.color_orange {
	COLOR: #ff9446
}
.color_gray {
	COLOR: #999
}
.margin_b_0 {
	MARGIN-BOTTOM: 0px
}
.margin_r_15 {
	MARGIN-RIGHT: 15px
}
.icon-load-small {
	MARGIN-TOP: 2px; WIDTH: 16px; DISPLAY: inline-block; BACKGROUND: url(../image/load_small.gif) no-repeat; HEIGHT: 16px
}
.h_30 {
	HEIGHT: 30px
}
TABLE {
	FONT-SIZE: 12px
}
INPUT {
	MARGIN-BOTTOM: 0px
}
SELECT {
	MARGIN-BOTTOM: 0px
}
.wrong_input {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; COLOR: red; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid
}
.icon_fans_group {
	BACKGROUND-IMAGE: url(../image/fans_icons.png); PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat
}
.icon_fans_remark {
	BACKGROUND-IMAGE: url(../image/fans_icons.png); PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat
}
.group_and_remark {
	Z-INDEX: 100; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 110px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px; TOP: 17px; LEFT: 0px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border-radius: 4px
}
.group_and_remark .item {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: table; FONT-SIZE: 12px; CONTENT: ""; CURSOR: pointer; PADDING-TOP: 0px
}
.group_and_remark .item SPAN {
	LINE-HEIGHT: 30px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 30px
}
.group_and_remark .item .icon_fans_group {
	BACKGROUND-POSITION: 0px 9px
}
.group_and_remark .item .icon_fans_remark {
	BACKGROUND-POSITION: 0px -20px
}
.group_and_remark .item .icon_arrow_right {
	WIDTH: 16px; BACKGROUND: url(../image/fans_arrow.png) no-repeat 0px -19px
}
.group_and_remark .item:hover .icon_arrow_right {
	BACKGROUND-POSITION: 0px 10px
}
.group_and_remark .item_last {
	BORDER-BOTTOM: medium none
}
.group_and_remark .item .win_layer {
	Z-INDEX: 110; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: none; PADDING-TOP: 10px; TOP: 0px; LEFT: 100px
}
.group_and_remark .item .win_layer .span6 {
	COLOR: #ccc
}
.win_layer {
	Z-INDEX: 102; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); border-radius: 4px
}
.win_layer .span6 {
	WIDTH: 185px
}
.win_layer SELECT {
	WIDTH: 200px
}
.win_layer BUTTON {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 2px; BACKGROUND: #f5f5f5 repeat-x; FLOAT: right; HEIGHT: 24px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; border-radius: 4px
}
.win_layer .btn-cancel {
	COLOR: #777; MARGIN-RIGHT: 5px
}
.win_layer .btn-sure {
	BORDER-BOTTOM: #0761b9 1px solid; BORDER-LEFT: #0761b9 1px solid; COLOR: #fff; BORDER-TOP: #0761b9 1px solid; BORDER-RIGHT: #0761b9 1px solid
}
.win_layer .btn-cancel:hover {
	BACKGROUND-REPEAT: repeat-x
}
.win_layer .btn-sure:hover {
	
}
.sound-reply-desc {
	LINE-HEIGHT: 26px; MARGIN: 10px 0px 0px 20px
}
.history_search_wrap {
	MARGIN-BOTTOM: 12px
}
