.is_checked {
	BORDER-BOTTOM: #b7babd 1px solid; POSITION: absolute; BORDER-LEFT: #b7babd 1px solid; WIDTH: 80px; BACKGROUND: #e8e8e8; HEIGHT: 21px; BORDER-TOP: #b7babd 1px solid; CURSOR: pointer; RIGHT: 100px; BORDER-RIGHT: #b7babd 1px solid; TOP: -2px; border-radius: 2px
}
.un_checked {
	BORDER-BOTTOM: #b7babd 1px solid; POSITION: absolute; BORDER-LEFT: #b7babd 1px solid; WIDTH: 80px; BACKGROUND: #e8e8e8; HEIGHT: 21px; BORDER-TOP: #b7babd 1px solid; CURSOR: pointer; RIGHT: 100px; BORDER-RIGHT: #b7babd 1px solid; TOP: -2px; border-radius: 2px
}
.is_checked SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 54px; DISPLAY: inline-block; HEIGHT: 21px; FONT-SIZE: 12px; TOP: -1px; border-radius: 2px
}
.un_checked SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 54px; DISPLAY: inline-block; HEIGHT: 21px; FONT-SIZE: 12px; TOP: -1px; border-radius: 2px
}
.is_checked SPAN.txt {
	BORDER-BOTTOM: #386c9f 1px solid; BORDER-LEFT: #386c9f 1px solid; BACKGROUND: #457fb9; COLOR: #fff; BORDER-TOP: #386c9f 1px solid; BORDER-RIGHT: #386c9f 1px solid; LEFT: -1px
}
.un_checked SPAN.txt {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND: #fff; COLOR: #000; BORDER-TOP: #999 1px solid; RIGHT: -1px; MARGIN-RIGHT: 0px; BORDER-RIGHT: #999 1px solid
}
