@charset "utf-8";
/* CSS Document */
ul,li{margin:0; padding:0; list-style:none}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-family:"微软雅黑"}
a:hover, a:visited, a:active{text-decoration:none}
body{padding-top:0px; background-color:#eee;font-family:"微软雅黑"; overflow-x:hidden;}

.fl{float:left}
.fr{float:right}
.clear{clear:both}

/*回到头部*/
.back-top{width:40px; height:40px;position:fixed; bottom:200px; right:0; z-index:1001; border:1px solid #ddd; background:#f9f9f9; text-align:center; font-size:20px; color:#999; padding:5px 0; cursor:pointer}
.back-top:hover{border:1px solid #9BC9E4; color:#0085D0; background:#9BC9E4}

/*layout*/
header{background:#f9f9f9; padding-top:5px;box-shadow:0 0 3px #444; height:60px; position:relative }
header .top-blue{position:absolute;height:5px; background:#0080CC;overflow:hidden;box-shadow:0 0 2px #666; width:100%; top:0; z-index:1000}
header .container{background:none}
header .navbar-brand{width:717px;height:75px; background:url(../images/logo_data_analysis.png) 0 0 no-repeat; display:block;}
header nav ul.navbar-nav li{float:left; background:#f2f2f2; margin-right:1px; position:relative}
header nav ul.navbar-nav li.current{border-bottom:2px solid #333; background:#eee;}
header nav ul.navbar-nav li:hover{background:#eee;border-bottom:2px solid #333; }
header nav ul.navbar-nav li a{font-size:14px; padding:17px 15px; color:#666}
header nav ul.navbar-nav li.current a, header ul.navbar-nav li.current:hover a{color:#333}
header nav ul.navbar-nav li.current span.menu-drop, header ul.navbar-nav li.current:hover span.menu-drop{width:100%; height:8px; display:block; position:absolute; text-align:center; background:url(../images/menu_drop.png) no-repeat center; top:60px}
header nav ul.owner{content:""; display:table; padding-right:7px}
header nav ul.owner li{float:left; padding:17px 0 17px 10px; position:relative}
header nav ul.owner li span{color:#999; }
header nav ul.owner li span.ico{width:15px; height:15px; display:block; background:url(../images/ico_header.png) no-repeat; margin:3px 0; cursor:pointer}
header nav ul.owner li.msg span.ico{background-position:0 -5px}
header nav ul.owner li.msg:hover span.ico{background-position:0 -33px;}
header nav ul.owner li.setting span.ico{background-position:-30px -5px}
header nav ul.owner li.setting .dropdown{position:absolute; top:48px; right:-5px; width:120px; border:1px solid #ccc; background:#fff; box-shadow:0 0 1px #ccc; padding:3px 4px 4px 4px; display:none;}
header nav ul.owner li.setting .dropdown .top-arrow{position:absolute; width:12px; height:13px; display:block; top:-13px; right:5px; background:url(../../images/pyhActive/dropdown-arrow.png) no-repeat}
header nav ul.owner li.setting .dropdown .item{line-height:30px; padding:0 10px; overflow:hidden; margin-top:1px; cursor:pointer}
header nav ul.owner li.setting .dropdown .item span{float:left; height:30px; margin:0 5px 0 0; font-size:12px}
header nav ul.owner li.setting .dropdown .item span.ico-password{background-position:0px -86px}
header nav ul.owner li.setting .dropdown .item span.ico-quit{background-position:0px -123px}
header nav ul.owner li.setting .dropdown .item:hover span.ico-password, header nav ul.owner li.setting .dropdown .current span.ico-password{background-position:-30px -86px}
header nav ul.owner li.setting .dropdown .item:hover span.ico-quit, header nav ul.owner li.setting .dropdown .current span.ico-quit{background-position:-30px -123px}
header nav ul.owner li.setting .dropdown .current, header nav ul.owner li.setting .dropdown .item:hover{background:#0085D0;}
header nav ul.owner li.setting .dropdown .current span, header nav ul.owner li.setting .dropdown .item:hover span{ color:#fff}
header nav ul.owner li.setting:hover span.ico{background-position:-30px -33px;}
header nav ul.owner li.setting:hover .dropdown{display:block;}


.container{ background:#fff; padding:0; position:relative; content:""; display:table; min-width:1000px}
.right-content{margin-left:190px; min-width:830px;min-height:500px; border-left:1px solid #eee; content:""; display:block;}
footer{text-align:center; font-size:11px; color:#999; margin:20px 0; line-height:18px}

/*public: 侧边菜单*/
sidebar{width:190px;content:""; display:table; position:absolute; left:0; top:0}
sidebar .line{height:1px; border-bottom:1px solid #eee; overflow:hidden}
sidebar .item{}
sidebar .item h2{background:url(../../images/pyhActive/menu_item_bg.jpg) repeat-x}
sidebar .item h2 a{font-size:14px; height:20px; line-height:20px;display: block; padding: 10px 15px; color:#333; font-weight:bold}
sidebar .item h2 a:hover{color:#0080CC}
sidebar .item h2.active{background-color:}
sidebar .item h2 a span{float:left}
sidebar .item h2 a span.ico{width:18px; height:20px; margin-right:5px; display:inline-block; background:url(../../images/pyhActive/menu_ico.png) no-repeat}
sidebar .item h2 a span.ico-account-monitor{background-position:0 0}
sidebar .item h2 a span.ico-data-analysis{background-position:0 -33px}
sidebar .item h2 a span.ico-data-search{background-position:0 -71px}
sidebar .item h2 a span.ico-system-manage{background-position:0 -110px}
sidebar .item h2 a span.ico-public-opinion{background-position:0 -144px}
sidebar .item h2 a span.ico-service-analysis{background-position:0 -181px}
sidebar .item h2 a:hover span.ico-account-monitor, sidebar .current h2 a span.ico-account-monitor{background-position:-29px 0}
sidebar .item h2 a:hover span.ico-data-analysis, sidebar .current h2 a span.ico-data-analysis{background-position:-29px -33px}
sidebar .item h2 a:hover span.ico-data-search, sidebar .current h2 a span.ico-data-search{background-position:-29px -71px}
sidebar .item h2 a:hover span.ico-system-manage, sidebar .current h2 a span.ico-system-manage{background-position:-29px -110px }
sidebar .item h2 a:hover span.ico-public-opinion, sidebar .current h2 a span.ico-public-opinion{background-position:-29px -144px }
sidebar .item h2 a:hover span.ico-service-analysis, sidebar .current h2 a span.ico-service-analysis{background-position:-29px -181px }

sidebar .item ul.nav{padding:10px; background:#f9f9f9}
sidebar .item ul.nav a{border-radius:0}
sidebar .item ul.nav a span{padding-left:8px}
sidebar .item ul.nav li a{line-height:20px; color:#333}
sidebar .item ul.nav li.active a{color:#fff}
sidebar .item ul.nav li.line{border-bottom:1px dotted #ddd}
sidebar .current h2 a{color:#0080CC}

/*尺寸适应*/
@media(min-width:980px) {
.container {
	width:980px
}
.group-data-analysis ul.collection-total li {
    width: 256px;
}
}
@media(min-width:980px) {
.container {width:980px}
.group-data-analysis ul.collection-total{margin:35px 27px}
.group-data-analysis ul.collection-total li {
    width: 256px;
}
}
@media(min-width:1200px) {
.container {width:1360px;}
.group-data-analysis ul.collection-total li {
    width: 300px;
}
}